/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/

#page2 .uploadifive-button {
	background:url(form-noavatarupload.png) no-repeat 0 0;
	width: 147px;
	height:65px;
}

#page5 .uploadifive-button {
	background:url(form-videoupload.png) no-repeat 0 0;
	width: 133px;
	height:60px;
}



#uploadifive-file_upload:hover { cursor:pointer; }
.uploadifive-queue-item {
	background-color: #F5F5F5;
	border-bottom: 1px dotted #D5D5D5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 12px Arial, Helvetica, Sans-serif;
	margin-top: 3px;
	padding: 15px;
}
.uploadifive-queue-item .close {
	background: url('uploadifive-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
	border: 1px solid #D0D0D0;
	height: 3px;
	margin-top: 5px;
	width: 100%;
}
.uploadifive-queue-item .progress-bar {
	background-color: #0072BC;
	height: 3px;
	width: 0;
}