  html {font-size: 62.5%;}
*{
	font-size: 100.01%;
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body{
	color:#757575;
	font:1em/2em Georgia, "Times New Roman", Times, serif;
	background:#c79041;
	min-width:1002px;
}
a{
	text-decoration:none;
	color:#c89243;
}
a:hover {text-decoration:underline;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul li{list-style-type:none;}
.row{
	width:100%;
	overflow:hidden;
}
.wrap{height:1%;}
.wrap:after{
	content:"";
	display:block;
	clear:both;
}
#wrapper{
	width:100%;
	overflow:hidden;
	background: url(images/bg-wrapper-c.jpg) repeat-y 50% 0;
}
.wrapper-holder{background: url(images/bg-wrapper-t.jpg) no-repeat 50% 0;}
/*.wrapper-frame{background: url(images/bg-wrapper-b.jpg) no-repeat 50% 100%;}*/
.w1{
	width:981px;
	margin:0 auto;
	padding:0 6px 0 0;
}
#header{
	width:100%;
	padding:35px 0 20px;
	min-height:80px;
	position:relative;
	z-index:10;
}
#header:after{
	content:"";
	display:block;
	clear:both;
}
.logo{
	background: url("images/logo.gif") no-repeat scroll 0 0 transparent;
    height: 12px;
    left: 78px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 30px;
    width: 237px;
}
.logo a{
	display:block;
	height:100%;
}
#header .search-form{
	position:absolute;
	top:24px;
	right:26px;
	width:200px;
}
#header .search-form label{
	float:left;
	width:68px;
	padding:3px 5px 0 0;
	text-align:right;
	font-size:1.1em;
	line-height:1.2em;
	color:#988158;
	text-transform:uppercase;
}
#header .search-form .text{
	float:left;
	background: url(images/bg-input-01.gif) no-repeat;
	width: 120px;
	height: 19px;
	margin:0 2px 0 0;
}
#header .search-form .text input{
	float:left;
	border:0;
	background:none;
	width:110px;
	padding:2px 5px;
	line-height:15px;
	outline:none;
	overflow:hidden;
}
#header .search-form .btn-search{
	float:right;
	margin:6px 0 0;
}
#header .section{
	width:939px;
	overflow:hidden;
	padding:0 26px 0 16px;
}
#header .placeholder img{display:block;}
#header .panel{
	height:1%;
	overflow:hidden;
	padding:0 34px 13px;
	background: url(images/separator-01.gif) repeat-x 0 100%;
}
.social{
	float:left;
	list-style:none;
	margin:0 265px 0 0;
	padding:0;
}
.social li{
	float:left;
	margin:0 5px 0 0;
	list-style:none;
}
.social a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:22px;
	height:23px;
	background: url(images/btn-social.gif) no-repeat;
}
.social a.btn-rss{background-position:-27px 0;}
.social a.btn-facebook-2{background-position:-53px 0;}
.social a.btn-twitter{background-position:-80px 0;}
.social a.btn-youtube{background-position:-106px 0;}
#header .btn-connect{
	float:right;
	background: url(images/btn-connect.gif) no-repeat;
	width: 92px;
	height: 23px;
	text-indent:-9999px;
	overflow:hidden;
}
.user-bar{
	float:right;
	list-style:none;
	margin:0;
	padding:10px 0 0;
	overflow:hidden;
	font-size:1.1em;
	line-height:1.2em;
}
.user-bar li{
	float:left;
	list-style:none;
	margin:0 2px 0 -2px;
	padding:0 6px 0 8px;
	background: url(images/separator-02.gif) no-repeat 0 2px;
}
.user-bar a{color:#808285;}
.txt-recovery{
	float:left;
	background: url(images/txt-recovery.gif) no-repeat;
	width: 250px;
	height: 19px;
	text-indent:-9999px;
	overflow:hidden;
	margin:4px 0 0;
}
#nav{
	list-style:none;
	margin:9px 0 0 27px;
	padding:0;
	height:1%;
	background: url(images/separator-03.gif) no-repeat 0 2px;
	font-size:1.2em;
	line-height:1.2em;
	letter-spacing:1px;
}
#nav:after{
	content:"";
	display:block;
	clear:both;
}
#nav li{
	float:left;
	list-style:none;
	padding:0 45px 0 45px;
	background: url(images/separator-03.gif) no-repeat 100% 2px;
	position:relative;
}
* html #nav li{padding:0 32px 0 33px;}
*+html #nav li{padding:0 32px 0 33px;}
#nav li.heroes{padding:0 76px 0 63px;}
* html #nav li.heroes{padding:0 75px 0 62px;}
*+html #nav li.heroes{padding:0 75px 0 62px;}
#nav li:hover .drop,
#nav li.hover .drop{display:block;}
#nav a{
	position:relative;
	z-index:100;
	color:#988158;
}
#nav a:hover,
#nav .active a{
	text-decoration:none;
	color:#b87861;
}

#nav .active a{font-weight:bold;}
#nav .drop{
	display:none;
	position:absolute;
	top:-9px;
	left:8px;
	width:235px;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
}
#nav .drop-t{
	background: url(images/bg-drop-t.png) no-repeat;
	width: 235px;
	height: 36px;
}
#nav .drop-c{
	height:1%;
	padding:0 16px 12px 13px;
	background: url(images/bg-drop-c.png) repeat-y;
	z-index:999;
}
#nav .drop-c:after{
	content:"";
	display:block;
	clear:both;
}
#nav .drop-b{
	background: url(images/bg-drop-b.png) no-repeat;
	width: 235px;
	height: 37px;
}
#nav .drop ul{
	float:left;
	width:209px;
	list-style:none;
	margin:0 0 -25px;
	padding:0;
	position:relative;
}
#nav .drop ul li{
	height:1%;
	overflow:hidden;
	float:none;
	padding:12px 10px 9px 10px;
	border-top:1px solid #c6b393;
	background:none;
	text-align:center;
}
#nav .drop ul li a { font-weight:normal; }
#nav .drop ul a,
#nav li:hover .drop ul a,
#nav li.hover .drop ul a{color:#000;}
#nav .drop ul a:hover{text-decoration:underline;}
#main{
	padding:0 0 45px;
	width:100%;
}
#main:after{
	content:"";
	display:block;
	clear:both;
}
.intro{
	min-height:304px;
	padding:34px 0 0 28px;
	position:relative;
	background: url(images/bg-intro.gif) no-repeat 0 100%;
}
.intro:after{
	content:'';
	display:block;
	clear:both;
}
* html .intro{height:304px;}
.intro .img-box{
	float:right;
	width:218px;
	padding:39px 5px 0 0;
}
.intro .img-box img{display:block;}
.intro .title-01{
	position:absolute;
	top:33px;
	left:720px;
	font-size:28px;
	line-height:32px;
	font-weight:bold;
	color:#b3512e;
	letter-spacing:-1px;
}
.intro .title-01 span{display:block;}
.intro .btn-play{
	position:absolute;
	right:196px;
	bottom:167px;
	background: url(images/btn-play.gif) no-repeat;
	width: 52px;
	height: 53px;
	text-indent:-9999px;
	overflow:hidden;
}
.intro .block{
	float:left;
	width:620px;
}
.add-logo-01{
	float:left;
	width:387px;
	height:269px;
	background: url(images/sprites.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 17px 0 0;
}
.intro .block .txt-box{
	height:1%;
	overflow:hidden;
	color:#666;
	padding:2px 0 0;
}
.intro .block .txt-box h2{
	font-size:1.5em;
	line-height:1.1em;
	font-weight:normal;
	color:#b3512e;
	margin:0;
}
.intro .block .txt-box h3{
	font-size:2.1em;
	line-height:1.1em;
	color:#79b5b1;
	margin:0 0 4px;
}
.intro .block .txt-box p{
	font-size:1.2em;
	line-height:1.7em;
	margin:0 0 5px;
}
.intro .block .txt-box p em{display:block;}
.intro .block .txt-box p a{
	font-size:1.2em;
	line-height:1.8em;
	color:#c89243;
}
.twocolumns{
	width:100%;
	background: url(images/bg-twocolumns.gif) repeat-y;
	padding:17px 0 0;
}
.twocolumns:after{
	content:"";
	display:block;
	clear:both;
}
#content{
	float:left;
	width:757px;
}
.dates-block{
	padding:0 17px 24px 28px;
	margin:0 0 -1px;
	background: url(images/separator-01.gif) repeat-x 0 100%;
}
.dates-block h2{
	font-size:3.8em;
	line-height:1.1em;
	font-weight:normal;
	letter-spacing:-1px;
	color:#79b5b1;
	margin:0 0 4px;
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
}
.dates-block .boxes{
	width:730px;
	margin:0 -22px 0 0;
	padding:10px 0 42px;
	overflow:hidden;
	background: url(images/bg-boxes.gif) repeat-y;
}
.dates-block .boxes .box{
	float:left;
	display:inline;
	width:168px;
	padding:0 3px;
	margin:0 6px 0 0;
	text-align:center;
}
.dates-block .boxes .month{
	display:block;
	font-size:2.9em;
	line-height:1.1em;
	color:#fff;
	padding:0 0 37px;
}
.dates-block .boxes .name{
	display:block;
	font-size:2.3em;
	line-height:1em;
	letter-spacing:-1px;
	color:#b3512e;
	padding:0 0 3px;
}
.dates-block .boxes .name span{display:block;}
.dates-block .boxes a{
	font-size:2em;
	line-height:1.1em;
	color:#fff;
}
.dates-block .boxes .brown .name{color:#d6a06c;}
.dates-block .boxes .blue .name{color:#b3512e;}
.dates-block .boxes .blue .month{padding:0 0 17px;}
.dates-block .boxes .orange .name{color:#b3512e;}
.two-cols{
	height:1%;
	background: url(images/bg-two-cols.gif) repeat-y;
	padding:23px 16px 53px 27px;
}
* + html .two-cols{
	padding:23px 16px 65px 27px;
}
.two-cols:after{
	content:"";
	display:block;
	clear:both;
}
.post-col{
	float:left;
	width:523px;
}
.post{width:100%;}
.post:after{
	content:"";
	display:block;
	clear:both;
}
.post .author-box{
	float:left;
	width:118px;
	padding:108px 0 10px;
	position:relative;
}
.author-box .img-box{
	display:block;
	border:1px solid #bda883;
	padding:6px;
	margin:0 0 7px;
}
.author-box .img-box img{display:block;}
.author-box .about{
	font-size:1.1em;
	line-height:1.75em;
	font-style:italic;
	padding:0 3px 0 4px;
	color:#9f9e9e;
}
.author-box .about p{margin:0;}
.author-box .about p a{color:#c99448;}
.author-box .about .link-more{
	font-size:1.03em;
	line-height:1.2em;
}
.author-box .feature{
	position:absolute;
	top:3px;
	left:-47px;
	font-size:18px;
	line-height:20px;
	color:#fff;
	background: url(images/sprites.png) no-repeat 0 -269px;
}
.author-box .feature span{
	float:left;
	height:35px;
	padding:20px 33px 0 18px;
	background: #c0c0c0 url(images/sprites.png) no-repeat 100% -269px;
}
.post-content{
	float:right;
	width:376px;
}
.post-content h2{
	font-size:3.5em;
	line-height:1.2em;
	font-weight:normal;
	color:#bc8a34;
	margin:0;
}
.post-content h3{
	font-size:2.3em;
	line-height:1.1em;
	font-style:italic;
	font-weight:normal;
	color:#b8b8b8;
	margin:0 0 13px;
}
.post-content .info{
	display:block;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
	padding:0 0 14px;
}
.post-content .info strong{
	color:#C89243;
	font-weight:normal;
}
.post-content p{ margin:0 0 11px; font-size: 1.2em; }
.post-content .placeholder{padding:0 0 8px;}
.post-content .placeholder img{display:block;}
.post-content .comments{
	padding:0 0 22px;
	margin:0 0 24px;
	border-bottom:1px solid #baa57e;
	font-size:1.1em;
	line-height:1.2em;
	font-style:italic;
}
.post-content .comments strong{
	color:#C89243;
	font-weight:normal;
}
.post-content .comments .number{
	padding:0 3px 0 0;
	color:#8e8a8a;
}
.post-content .tag-list{
	list-style:none;
	margin:0;
	padding:0;
	display:inline;
	font-size:1em;
	line-height:1.4em;
} 
.post-content .tag-list li{
	display:inline;
	list-style:none;
}
.post-content .tag-list a{color:#9f9e9e;}
.social-box{
	height:1%;
	overflow:hidden;
	padding:0 5px;
}
.social-box .social-plagin{
	float:left;
	margin:0;
	list-style:none;
	padding:0 9px 0 0;
}
.social-box .social-plagin li{
	float:left;
	margin:0 2px 0 0;
}
.social-box .social-plagin li a{
	font-size:0;
	line-height:0;
	float:left;
}
.social-box .social-plagin li img{vertical-align:top;}
.social-box .social-comments{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
}
.social-box .social-comments li{
	float:left;
	margin:0 8px 0 0;
}
.social-box .social-comments a,
.social-box .social-comments span{
	float:left;
	line-height:16px;
}
.social-box .social-comments .comments-icon{
	background:url(images/icon-comment.gif) no-repeat 0 5px;
	width:70px;
	height:18px;
	padding:0 0 0 18px;
	color:#67A3C0;
}
.social-box .social-comments .facebook{
	background:url(images/icon-f.gif) no-repeat;
	width:26px;
	height:18px;
	padding:0 0 0 21px;
	color:#000;
}
.social-box .social-comments .twitter{
	background:url(images/icon-t.gif) no-repeat;
	width:26px;
	height:18px;
	padding:0 0 0 34px;
	color:#000;
}
.social-box .rating-box{float:left;}
.social-box .rating-box span{
	float:left;
	font-size:1em;
	line-height:1.1em;
	color:#67a3c0;
	padding:3px 3px 0 0;
}
.rating{
	float:left;
	list-style:none;
	margin:0;
	padding:1px 0 0;
}
.rating li{
	float:left;
	list-style:none;
	margin:0 1px 0 0;
}
.rating a{
	float:left;
	width:15px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 0 -324px;
}
.rating a:hover,
.rating .active a{background-position:-16px -324px;}
.two-cols .aside-col{
	float:right;
	width:162px;
	padding:76px 0 0;
}
.friends-box{padding:0 0 10px;}
.friends-box h3{
	font-size:1.4em;
	line-height:1.1em;
	font-weight:normal;
	font-style:italic;
	color:#696969;
	margin:0 0 12px;
}
.friens-list{
	list-style:none;
	margin:0 -12px 0 0;
	padding:0;
	width:174px;
	overflow:hidden;
}
.friens-list li{
	float:left;
	list-style:none;
	width:76px;
	margin:0 11px 6px 0;
}
.friens-list .avatar img{display:block;}
.friens-list .name{
	font-size:1em;
	line-height:1.2em;
	color:#a9a6a6;
}
.categories{
	position:relative;
	margin:0 -2px 0 -10px;
	width:180px;
	padding:4px 0 0 0;
	text-align:right;
}
.categories h4{
	font-size:1.1em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	color:#7f7f7f;
	margin:0 8px 6px 0;
}
.categoies-list{
	margin:0 8px 0 0;
	padding:0;
	font-size:1.1em;
	line-height:1.24em;
	color:#969292;
	letter-spacing:-1px;
}
.categoies-list li{
	list-style:none;
	padding:0 0 5px;
}
.categoies-list a{color:#cd9b54;}
#sidebar{
	float:right;
	width:223px;
	padding:2px 0 0;
	margin:0 0 0 -25px;
}
#sidebar .box{
	padding:0 21px 22px 17px;
	margin:0 0 21px;
	border-bottom:1px solid #c6b393;
}
.add-logo-02{
	display:block;
	width:178px;
	height:320px;
	text-indent:-9999px;
	overflow:hidden;	
	background: url(images/sprites.png) no-repeat 0 -339px;
}
.add-logo-03{
	display:block;
	width:178px;
	height:215px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 7px 7px;
	background: url(images/sprites.png) no-repeat -178px -339px;
}
#sidebar .link-sign-up,
.aside .link-sign-up{
	font-size:1.2em;
	line-height:1.2em;
	padding:0 0 8px 40px;
}
#sidebar .link-sign-up a,
.aside .link-sign-up a{color:#b3512e;}
#sidebar .box-2{
	border:0;
	margin:0;
	padding-left:20px;
}
.add-logo-04{
	display:block;
	width:179px;
	height:314px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat -356px -339px;
	margin:0 0 15px;
}
#sidebar .box p,
.aside .box p{
	font-size:1.3em;
	line-height:1.3em;
	font-style:italic;
	color:#666;
	margin:0;
}
#sidebar .box p a,
.aside .box p a{color:#55a6b5;}
#footer{
	font-size:1em;
	line-height:1.2em;
	padding:0 10px 33px;
	text-align:center;
	color:#2e2e2e;
}
#footer .item-list{
	list-style:none;
	margin:0;
	padding:0 0 21px;
}
#footer .item-list li{
	display:inline;
	list-style:none;
	padding:0 15px;
	background: url(images/separator-04.gif) no-repeat 0 2px;
}
#footer .item-list li:first-child,
#footer .item-list li.first-child{background:none;}
#footer .item-list a{color:#2e2e2e;}
#footer .item-list a.email{color:#33a3c8;}
.nav{
	list-style:none;
	margin:0;
	padding:0;
}
.nav li{
	display:inline;
	list-style:none;
	padding:0 15px 0 16px;
	background: url(images/separator-04.gif) no-repeat 0 1px;
}
.nav li:first-child,
.nav li.first-child{background:none;}
.nav a{color:#2e2e2e;}
.twocolumns-2{
	padding:0;
	margin:10px 0 0;
	background: url(images/bg-twocolumns-02.gif) repeat-y;
}
.twocolumns-2 .two-cols{
	background:none;
	padding:0 20px 0 85px;
}
.twocolumns-2 .post-col{width:651px;}
.twocolumns-2 .post{padding:0 0 60px;}
.twocolumns-2 .post .author-box{padding:107px 0 10px;}
.twocolumns-2 .post-content{width:495px;}
.twocolumns-2 .social-box .rating-box{padding:3px 0 0;}
.twocolumns-2 #sidebar{
	width:170px;
	padding:69px 33px 0 0;
}
.twocolumns-2 .categories h4{margin:0 8px 10px 0;}
.twocolumns-2 .categoies-list{
	padding:0 0 9px;
	line-height:14px;
}
.twocolumns-2 .categoies-list li{padding:0 0 8px;}
.threecolumns{
	width:100%;
	overflow:hidden;
	margin:16px 0 0;
	background: url(images/bg-threecolumns.gif) repeat-y;
}
.threecolumns #content{
	float:left;
	width:980px;
}
.c1{
	min-height:200px;
	overflow:hidden;
	margin:0 240px 0 246px;
}
* html .c1{height:200px;}
.form-block{
	width:100%;
	overflow:hidden;
	position:relative;
}
.c1 h2{
	font-size:5.5em;
	line-height:1em;
	font-weight:normal;
	color:#b3512e;
	letter-spacing:-1px;
	margin:0 0 8px;
}
.c1 p{
	font-size:1.3em;
	line-height:1.8em;
	color:#706d6e;
	margin:0 0 15px;
}
.contact-form{
	padding:24px 0 0 6px;
	color:#b3b3b3;
	font:1.1em/1.2em Arial, Helvetica, sans-serif;
	position:relative;
}
.contact-form .title{
	display:block;
	padding:0 0 15px;
}
.contact-form .help{
	display:block;
	padding:0 0 23px;
	font-weight:bold;
	font-size:0.9em;
	line-height:1.1em;
	color:#9e9e9e;
}
.contact-form .box{
	width:100%;
	overflow:hidden;
	padding:0 0 15px;
}
.contact-form .row{padding:0 0 8px;}
.contact-form label{
	float:left;
	width:75px;
	padding:3px 5px 0 0;
}
.contact-form .text{
	float:left;
	width:397px;
	height:20px;
	background: url(images/sprites.png) no-repeat 0 -659px;
}
.contact-form .text input{
	float:left;
	width:377px;
	border:0;
	background:none;
	font-size:11px;
	line-height:14px;
	padding:3px 10px 3px;
	margin:0;
	color:#b3b3b3;
	outline:none;
	overflow:hidden;
}
.contact-form .textarea{
	float:left;
	width:397px;
	height:289px;
	background: url(images/sprites.png) no-repeat -535px -339px;
}
.contact-form .textarea textarea{
	float:left;
	border:0;
	background:none;
	margin:0;
	padding:5px 10px;
	width:377px;
	height:279px;
	max-width:377px;
	max-height:279px;
	min-width:377px;
	min-height:279px;
	overflow:auto;
	color:#b3b3b3;
}
.contact-form .file{
	float:left;
	width:214px;
	overflow: hidden;
	z-index: 10;
	height:20px;
	background: url(images/sprites.png) no-repeat -535px -628px;
}
.contact-form .file-input-area{
	position:relative;
	z-index:22;
	height:20px;
	width:100%;
	padding:0;
	margin:0;
	cursor:pointer;
}
.contact-form .file .text{
	z-index:2;
	position:relative;
	width:127px;
	height:15px;
	font-size:11px;
	line-height:14px;
	padding:3px 10px 3px;
	margin: 0;
	border:0;
	background:none;
	color:#b3b3b3;
}
.contact-form .file .button{
	float:right;
	background:url(images/sprites.png) no-repeat -682px -628px;
	width:67px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
}
.contact-form .captcha-box .wrap{padding:0 0 5px;}
.contact-form .captcha-box label{padding-top:15px;}
.contact-form .captcha-box .img-box{
	float:left;
	margin:0 12px 0 0;
}
.contact-form .btn-upload{
	float:left;
	width:16px;
	height:17px;
	text-indent:-9999px;
	overflow:hidden;
	margin:25px 0 0;
	background: url(images/sprites.png) no-repeat -749px -628px;
}
.contact-form .captcha-box .row{padding:0 0 0 81px;}
.contact-form .captcha-box .text{
	width:149px;
	height:19px;
	background-position:100% -628px;
}
.contact-form .captcha-box .text input{width:129px;}
.contact-form .btn-row{
	height:1%;
	overflow:hidden;
	padding:9px 0 0 174px;
}
.contact-form .btn-submit{
	float:left;
	width:47px;
	height:22px;
	background: url(images/sprites.png) no-repeat -765px -628px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
}
.threecolumns .aside{
	float:left;
	margin:0 0 0 -981px;
	padding:4px 0 80px;
	width:222px;
}
.threecolumns .aside .box{
	padding:0 10px 21px 22px;
	margin:0 0 21px;
	border-bottom:1px solid #cbbb9e;
}
.add-logo-07{
	display:block;
	width:179px;
	height:312px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 15px;
	background: url(images/sprites.png) no-repeat 0 -679px;
}
.add-logo-05{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	width:215px;
	height:243px;
	position:relative;
	margin:0 -4px 0 -22px;
	background: url(images/sprites.png) no-repeat -387px 0;
}
.aside .link-more{
	position:relative;
	margin:-29px 0 0;
	padding:0 0 8px 31px;
	font-size:14px;
	line-height:15px;
	font-style:italic;
}
.aside .link-more a{color:#b3512e;}
.aside .link-more span{display:block;}
.threecolumns #sidebar{
	float:left;
	margin:0 0 0 -223px;
	padding:6px 0 0;
}
.threecolumns #sidebar .box{
	padding-bottom:27px;
	margin-bottom:20px;
}
.calling-box{
	border-bottom:1px solid #cfc0a5;
	padding:0 23px 15px 20px;
}
.add-logo-06{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
	width:181px;
	height:185px;
	margin:0 0 15px -2px;
	background: url(images/sprites.png) no-repeat -602px 0;
}
.dates-list{
	list-style:none;
	margin:0;
	padding:0 0 7px;
	position:relative;
}
* html .dates-list{margin:0 0 0 -18px;}
*+html .dates-list{margin:0 0 0 -18px;}
.dates-list li{
	height:1%;
	overflow:hidden;
	list-style:none;
	margin:0;
	vertical-align:top;
	padding:0 0 2px;
}
.dates-list a{float:left;}
.dates-list a img{
	margin:0;
	display:block;}
.threecolumns #sidebar .link-more{
	font-size:1.4em;
	line-height:1.1em;
	font-style:italic;
	text-align:center;
}
.threecolumns #sidebar .link-more a{color:#b3512e;}
.heroes-nav{
	list-style:none;
	margin:0;
	padding:0;
	height:1%;
	overflow:hidden;
}
.heroes-nav li{
	list-style:none;
	float:left;
}
.heroes-nav a{
	float:left;
	height:173px;
	width:174px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/bg-link-heroes.jpg) no-repeat;
}
.heroes-nav a:hover,
.heroes-nav .active a{background-position:0 -173px;}
.heroes-nav a.btn-e{
	width:144px;
	background-position:-174px 0;
}
.heroes-nav a.btn-e:hover,
.heroes-nav .active a.btn-e{background-position:-174px -173px; }
.heroes-nav a.btn-r{
	width:164px;
	background-position:-318px 0;
}
.heroes-nav a.btn-r:hover,
.heroes-nav .active a.btn-r{background-position:-318px -173px;}
.heroes-nav a.btn-o{
	width:172px;
	background-position:-482px 0;
}
.heroes-nav a.btn-o:hover,
.heroes-nav .active a.btn-o{background-position:-482px -173px;}
.heroes-nav a.btn-e2{
	width:125px;
	background-position:-654px 0;
}
.heroes-nav a.btn-e2:hover,
.heroes-nav .active a.btn-e2{background-position:-654px -173px;}
.heroes-nav a.btn-s{
	width:153px;
	background-position:-779px 0;
}
.heroes-nav a.btn-s:hover,
.heroes-nav .active a.btn-s{background-position:-779px -173px;}
.gallery-box{
	border-bottom:1px solid #c2ae8b;
	padding:0 28px 5px 27px;
}
.gallery{
	width:100%;
	overflow:hidden;
	position:relative;
}
.gallery .link-prev,
.gallery .link-next{
	position:absolute;
	top:11px;
	left:0;
	width:27px;
	height:27px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 100% -339px;
}
.gallery .link-next{
	left:auto;
	right:0;
	background-position:100% -366px;
}

.gallery-holder{
	width:100%;
	overflow:hidden;
	padding:6px 0 0;
}
.gallery-holder ul{
	width:99999px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
.gallery-holder ul li{
	list-style:none;
	float:left;
	width:315px;
}
.gallery ul .box{
	float:left;
	border:1px solid #b9a37c;
	min-height:284px;
	width:268px;
	padding:0 10px 0 16px;
}
* html .gallery ul .box{height:284px;}
.gallery .add-nav{
	width:233px;
	margin:0;
	padding:34px 0 0 35px;
}
.gallery .add-nav li{
	width:100%;
	list-style:none;
	vertical-align:top;
	padding:0 0 54px;
}
.gallery .add-nav span {
	display: block;
    font-family:'Conv_RockwellStd-Bold',Sans-Serif;
    font-size: 2.8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color:#FFF;
    line-height:100%;
	/*
	text-indent:-9999px;
	overflow:hidden;
	height:19px;
	width:167px;
	background: url(images/sprites.png) no-repeat -179px -679px;
	*/
}
.gallery .add-nav .link-healing{padding:0 0 66px;}
.gallery .add-nav .link-healing a{
	width:161px;
	background-position:-179px -698px;
}
.gallery .add-nav .link-hope{padding:0 0 45px;}
.gallery .add-nav .link-hope a{
	width:95px;
	background-position:-179px -717px;
}
.gallery .more-link{
	font-size:10px;
	line-height:12px;
	padding:0 27px 0 0;
	text-align:right;
}
.gallery .more-link a{
	color:#b3512e;
	letter-spacing:1px;
}
.enlarge-link{
	font-size:10px;
	line-height:12px;
	text-transform:uppercase;
	text-align:right;
	padding:0 4px 8px 0;
}
.enlarge-link a{color:#b65c36;}

.img-h {
	display:block;
	position:relative;
	margin:20px -4px 0 -31px;
}
.img-e {
	display:block;
	position:relative;
	margin:0 -4px 0 -31px;
}
.img-r {
	display:block;
	position:relative;
	margin: 0 -4px 0 -11px;
}
.img-o {
	display:block;
	position:relative;
	margin: 0 -4px 0 -11px;
}
.img-ee { /* Tracy */
	display:block;
	position:relative;
	margin:0 -4px 0 -13px;
}
.img-s {
	display:block;
	position:relative;
	margin: 0 -4px 0 -13px;
}

.heroes-left { 
	background-color:#bd982e;
}
.heroes-left img { padding:75px 0 0 33px; }
.heroes-right { 
	background-color:#5998a4;
	color:#FFF;
}

.journey-left { 
	background-color:#7291b0
}
.journey-left img { padding:95px 0 0 50px; }
.journey-right {
	background-color:#c58634;
	color:#FFF;
}

.gallery .about-block{
	width:100%;
	overflow:hidden;
	font-size:11px;
	line-height:16px;
	color:#7d7d7d;
	padding:13px 0 0;
}
.gallery .about-block .img-box{
	float:left;
	border:1px solid #b8a27a;
	padding:4px;
	margin:0 8px 0 0;
}
.gallery .about-block .img-box img{display:block;}
.gallery .about-block h2{
	font-size:26px;
	line-height:28px;
	margin:4px 0 6px;
	color:#c98e42;
}
.gallery .about-block p {
	margin:0 0 5px;
	line-height:20px;
	font-size:1.1em;
	color:#FFF;
	padding: 20px 13px 0 8px;
}

.intro-2{padding:0 27px 3px;}
.g2 .link-prev,
.g2 .link-next{
	background: url(images/btn-prev.png) no-repeat;
	width: 17px;
	height: 20px;
	text-indent:-9999px;
	overflow:hidden;
	top:57px;
	left:13px;
	cursor:pointer;
}
.g2 .link-next{
	left:auto;
	right:13px;
	background: url(images/btn-next.png) no-repeat;
}
.g2 .gallery-holder{padding:11px 0 16px;}
.g2 .gallery-holder ul li{
	float:left;
	width:auto;
	padding:0 4px 0 0;
}
.g2 .gallery-holder a{float:left;}
.g2 .gallery-holder a img{display:block;}
.intro-2 .columns{
	width:950px;
	overflow:hidden;
	margin:0 -30px 0 0;
}
.intro-2 .columns .box{
	float:left;
	width:294px;
	margin:0 18px 0 0;
	border:1px solid #b8a27a;
}
.intro-2 .columns .box img{display:block;}
.add-logo-08{
	display:block;
	width:175px;
	height:162px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat 100% 0;
	margin:0 0 6px;
}
#sidebar .chare-link{
	font-size:1.3em;
	line-height:1.1em;
	font-style:italic;
}
.c1 .text-block{
	width:100%;
	overflow:hidden;
	padding:16px 0 0;
	color:#757575;
	position:relative;
}
.c1 .text-block p{
	font-size:1.1em;
	line-height:2.1em;
	margin:0 0 11px;
}
.mini-post-box{
	width:100%;
	overflow:hidden;
	padding:4px 0 0;
}
.mini-post-box .img-box{
	float:left;
	border:1px solid #b79f77;
	margin:0 15px 0 0;
}
.mini-post-box .img-box img{display:block;}
.mini-post-box .txt-box{
	height:1%;
	overflow:hidden;
	padding:16px 0 0;
}
.c1 .mini-post-box .txt-box h2{
	font-size:2.7em;
	line-height:1em;
	color:#b3512e;
	font-weight:normal;
	margin:0 0 11px;
}
.w1 .txt-box h3 { 
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
}

.mini-post-box .txt-01{
	display:block;
	width:269px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(images/sprites.png) no-repeat -602px -185px;
}
.mini-post-box .link-more{
	height:1%;
	overflow:hidden;
	padding:12px 33px 0 0;
	font-size:1.3em;
	line-height:1.1em;
	font-style:italic;
	color:#b3512e;
}
.mini-post-box .link-more a{
	color:#b3512e;
	float:right;
	cursor:pointer;
}
.mini-post-box .link-more a:hover span{text-decoration:underline;}
.mini-post-box .link-more span{display:block;}



/*** Fonts ***/
@font-face {
	font-family: 'Conv_RockwellStd';
	src: url('fonts/RockwellStd.eot');
	src: local('☺'), url('fonts/RockwellStd.woff') format('woff'), url('fonts/RockwellStd.ttf') format('truetype'), url('fonts/RockwellStd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_RockwellStd-Light';
	src: url('fonts/RockwellStd-Light.eot');
	src: local('☺'), url('fonts/RockwellStd-Light.woff') format('woff'), url('fonts/RockwellStd-Light.ttf') format('truetype'), url('fonts/RockwellStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_RockwellStd-Bold';
	src: url('fonts/RockwellStd-Bold.eot');
	src: local('☺'), url('fonts/RockwellStd-Bold.woff') format('woff'), url('fonts/RockwellStd-Bold.ttf') format('truetype'), url('fonts/RockwellStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*** Image Rotator ***/
div.rotator {
    height: 284px;
    margin-left: 0px;
    position: relative;
    width: 268px;
    z-index:1;
}
div.rotator ul li {
    float: left;
    list-style: none outside none;
    position: absolute;
    left:-15px;
    z-index:1;
}
div.rotator ul li img {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index:1;
}
div.rotator ul li.show {
    z-index: 500;
}



.gallery .heroes p { 
	font-size: 14px;
    line-height: 22px;
    padding: 20px 13px 0 8px; 
}

.aside .thumb { padding:0 0 0 50px; }

.manifesto .c1 { margin:0 30px; }
.manifesto .c1 .text-block p { font-size:1.3em; }
.c1 h1 { 
	font-family:'Conv_RockwellStd-Light',Sans-Serif;
	font-size:44px;
	color:#B3512E;	
	font-weight: normal;
	line-height:130%;
}



.post .post-content .placeholder img { width:376px; }



/*
Events
*/
.events{
padding-bottom:20px;
border-bottom: .2em dotted #bcbebd;
}

	.navigation.ev{
	margin:15px 0 0 30px;
	width:100%;
	}

.c1.events h2  a{ 
font-family:'Conv_RockwellStd-Light',Sans-Serif;
font-size:43px;
color:#6cbdb0;
font-weight: 100;
line-height:43px;
margin:0;
padding:0;
text-transform: uppercase;
}

	.c1.events h2  a:hover{
	color:#B3512E;
	}
	
.schedule-item{
clear:both;
}

	.schedule-item img{
	float:left;
	width:125px;
	height:125px;
	margin-right:20px;
	margin-bottom:40px;
	}
	
	.schedule-item .text_block{
	float:left;
	width:550px;
	padding:0;
	margin:0;
	font-size:14px;
	margin-bottom:40px;
	}
	
	
.sub.blue{
color:#41a2a6;
font-size:25px;
margin-bottom:15px;
}	
	
#facility-links{
overflow: auto;
clear:both;
margin:20px 0 50px 0;
}
	a.facility{
	display: block;
	float:left;
	margin-right:40px;
	}
	
	a.facility img{
	float:left;
	margin-right:5px;
	}
	
	a.facility .fac_title{
	float:left;
	color:#3557a2;
	font-size:11px;
	width:100px;
	line-height: 1.1em;
	font-weight:bold;
	font-family:   Verdana, Arial,serif;
	}
	
	
.menu-item-type-custom { font-weight:bold; }
	
	
/* Wufoo Overrides */
label.desc { color:#888!important; font-family:Georgia, 'Times New Roman', serif; }