/*
Theme Name: Heroes In Recovery
Theme URI: http://www.proofbranding.com
Author: Proof Branding
Author URI: http://proofbranding.com
Description: 2015 Theme for Heroes In Recovery
Version: 1.0
*/

* { outline: none!important; }

html, body {
	overflow-x: hidden!important;
}

body {
	color: #808080;	
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/**
 * Links
 */
a,
a:active,
a:visited,
a:focus {
	color: #D36149;
	text-decoration: none;
	-moz-transition: color ease .2s;
	-ms-transition: color ease .2s;
	-o-transition: color ease .2s;
	-webkit-transition: color ease .2s;		
	transition: color ease .2s;
}

a:hover {
	color: #5d7f96;
	text-decoration: none;
}

a.read-more:hover {
	color: #000;
}

strong {
	font-weight: 700;
}



p {
	margin-bottom: 20px;
}
blockquote {
	font-family: 'Enriqueta', serif;
	color: #6498ae;
	border-color: #6498ae;	
}

div .blueitalics {
	font-family: Georgia;
	color: #5d80a2;
	font-style: italic;
	size: 20px;
	line-height: 23px;
	width: 80%;
  	margin-top: 20px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto; 	
}

div .orangeitalics {
	font-family: Georgia;
	color: #d25b33;
	font-style: italic;
	size: 20px;
	line-height: 23px;
width: 80%;
  	margin-top: 20px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto; 	
}

div .borderboxgreen {
	font-family: 'Enriqueta', serif !important;
	background: #ffffff !important; 	
	color: #768336 !important;
	border: 1px solid #768336;
    	padding: 25px;
   	width: 80%;
  	margin-top: 20px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto; 
		}

div .borderboxorange {
	font-family: 'Enriqueta', serif !important;
	font-style: italic;
	background: #ffffff !important; 	
	color: #d25b33 !important;
	border: 1px solid #d25b33;
    	padding: 25px;
	width: 80%;
  	margin-top: 20px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto; 
		}

/**
 * Default Button
 */
.hir-btn,
.hir-btn:active,
.hir-btn:visited,
.hir-btn:focus {
	background-color: #be8c46;	
	border: 5px solid #be8c46;
	border-left: 0;
	color: #fff;
	display: inline-block;
	font-size: 22px;
	font-weight: 100;
	margin-right: 40px;
	padding: 20px 40px 20px 20px;
	position: relative;
	text-transform: uppercase;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;		
	transition: none;	
}
.hir-btn:last-child {
	margin-right: 0;
}
.hir-btn:hover,
.hir-btn.step-active {
	background-color: #b4823a;
	border-color: #b4823a;
	color: #fff;
	cursor: pointer;
}
.page-content-wrap .hir-btn {
	margin-left: 20px;
}
#image-grid .hir-btn:hover {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}
.hir-btn:before {
	/*background: #956f1f;*/
	content: "";
	left: -30px;
	position: absolute;
	border-width: 0 31px 30px 0;
	border-style: solid;
	border-color: #956f1f transparent;
	top: -5px;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
	#image-grid .hir-btn:hover:before {
		border-color: #fff transparent;
	}
.hir-btn:after {
	content: "";
	background-color: #be8c46;
	border: 5px solid #be8c46;
	border-top: 0;
	border-right: 0;
	left: -29px;
	position: absolute;
	bottom: -5px;
	height: 52px;
	width: 29px;
}
	.hir-btn:hover:after {
		background-color: #b4823a;
		border-color: #b4823a;
	}
	#image-grid .hir-btn:hover:after {
		background-color: transparent;
		border-color: #fff;
	}

/**
 * Blue Button
 */
.hir-btn.hir-btn-blue,
.hir-btn.hir-btn-blue:after {
	background-color: #a5c0c6;
	border-color: #a5c0c6;
}
.hir-btn.hir-btn-blue2,
.hir-btn.hir-btn-blue2:after {
	background-color: #a5c0c6;
	border-color: #a5c0c6;
}
	.hir-btn.hir-btn-blue:hover,
	.hir-btn.hir-btn-blue:hover:after {
		background-color: #95acb1;
		border-color: #95acb1;
		color: #fff;
	}

	.hir-btn.hir-btn-blue2:hover,
	.hir-btn.hir-btn-blue2:hover:after {
		background-color: #95acb1;
		border-color: #95acb1;
		color: #fff;
	}
.hir-btn.hir-btn-blue:after {
	left: -30px;
	position: absolute;
	bottom: -5px;
	height: 52px;
	width: 31px;
}

.hir-btn.hir-btn-blue2:after {
	left: -20px;
	position: absolute;
	bottom: -5px;
	height: 31px;
	width: 32px;
        background-color: #a5c0c6;
	border-color: #a5c0c6;
}

.hir-btn.hir-btn-blue:before {
	border-color: #fff transparent;
	border-width: 0 29px 30px 0;
}


.hir-btn.hir-btn-blue2:before {
	border-color: #fff transparent;
	border-width: 0 29px 30px 0;
}

/**
 * Red Button
 */
.hir-btn.hir-btn-red,
.hir-btn.hir-btn-red:after {
	background-color: #ce644d;
	border-color: #ce644d;
}
	.hir-btn.hir-btn-red:hover,
	.hir-btn.hir-btn-red:hover:after {
		background-color: #ba5d48;
		border-color: #ba5d48;
	}
.hir-btn.hir-btn-red:before {
	border-color: #b15034 transparent;
}

/**
 * Green Button
 */
.hir-btn.hir-btn-green,
.hir-btn.hir-btn-green:after {
	background-color: #acb590;
	border-color: #acb590;
}
	.hir-btn.hir-btn-green:hover,
	.hir-btn.hir-btn-green:hover:after {
		background-color: #9fa785;
		border-color: #9fa785;
		color: #fff;
	}
.hir-btn.hir-btn-green:before {
	border-color: #fff transparent;
}

/**
 * Input/Submit/Buttons
 */
.hir-btn-input,
.hir-btn-button {
	background-color: #be8c46;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 100;	
	padding: 13px 23px;	
	position: relative;
	text-transform: uppercase;
}
.hir-btn-input:hover,
.hir-btn-button:hover {
	background-color: #b4823a;
}
.hir-btn-button {
	margin-bottom: 20px;
	padding: 20px 30px;
}
.hir-btn-button.selected-option {
	background-color: #639A2E;
}

.hir-btn-button.selected-option:after {
    border: 5px dotted #639a2e;
    content: "";
    height: 100px;
    left: -15px;
    position: absolute;
    top: -17px;
    width: 111%;
}

.faux-btn {
	position: relative;
}
.faux-btn:hover {
	cursor: pointer;
}
.faux-btn:after {
	content: "";
	position: absolute;
	border-width: 0 15px 15px 0;
	border-style: solid;
	border-color: #956f1f #fff;	
	left: 0;
	top: 0;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);	
}
.faux-btn.green:after {
	border-color: #417906 #fff;	
}
.hir-btn-full-width {
	display: block;
	width: 100%;
}

/**
 * Active Button
 */
.hir-btn-button.step-active {
	background-color: #a5c0c6;
} 
.faux-btn.step-after-active:after {
	border-color: #95acb1 #fff;
}

/**
 * Slim Button
 */
.hir-btn.slim {
	font-size: 18px;
	padding: 10px 30px 10px 20px;
} 
.hir-btn.slim:before {
	/*background: #956f1f;*/
	content: "";
	left: -20px;
	position: absolute;
	border-width: 0 20px 20px 0;
	top: -5px;

}
.hir-btn.slim:after {
	content: "";
	left: -20px;
	bottom: -5px;
	height: 37px;
	width: 20px;
}


/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
	color: #666;
	font-family: 'Enriqueta', serif;
}
.section-h2 {
	font-size: 28px;
	text-transform: uppercase;
}

/**
 * HEADER
 */
#header {
	padding: 40px 0;
	color: #D36149;
	text-decoration: none;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	-webkit-transition: all ease .2s;		
	transition: all ease .2s;	
}
.stuck #header {
	padding: 20px 0;
}
#header-row {
	background-color: #fff;
	z-index: 9;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	-webkit-transition: all ease .2s;		
	transition: all ease .2s;		
}
.subpage #header-row {
	border-bottom: 2px solid #d5d5d5;
}
.stuck #header-row {
	box-shadow: 0 0 10px rgba(0,0,0,.75);
	border-bottom: 0;
	padding: 0px;
}
	/**
	 * LOGO
	 */
	#logo {

	}
		#logo a {

		}
			#logo img {
				height: 60px;
				width: auto;
				-moz-transition: all ease .2s;
				-ms-transition: all ease .2s;
				-o-transition: all ease .2s;
				-webkit-transition: all ease .2s;		
				transition: all ease .2s;				
			}
			.stuck #logo img {
				height: 40px;
			}
	/**
	 * NAV
	 */
	#header-nav {
		display: table;
		text-align: right;
		height: 60px;
		-moz-transition: all ease .2s;
		-ms-transition: all ease .2s;
		-o-transition: all ease .2s;
		-webkit-transition: all ease .2s;		
		transition: all ease .2s;	
	}
	.stuck #header-nav {
		height: 40px;
	}
		#header-nav-inner {
			display: table-cell;
			vertical-align: middle;
		}
		#header-nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
		}
			#header-nav ul li {
				display: inline;
				margin: 0 25px 0 0;
				padding-bottom: 40px;
				position: relative;
			}
			#header-nav ul li:last-child {
				margin: 0;
			}
				#header-nav ul li a,
				#header-nav ul li a:active,
				#header-nav ul li a:visited,
				#header-nav ul li a:focus {
					color: #000;
					font-size: 21px;
					font-weight: 100;					
				}
				#header-nav ul li a:hover {
					color: #5d7f96;
				}

				/**
				 * Sub Menu
				 */
				#header-nav ul li ul.sub-menu:before {
					background: url('img/arrow.gif') no-repeat;
					content: "";
					height: 12px;
					left: 50%;
					margin: 0 0 0 -11px;
					position: absolute;
					top: -13px;
					width: 22px;
				}
				#header-nav ul li ul.sub-menu {
					background: #fff;
					background: rgba(255,255,255,.9);
					border: 2px solid #e0e0e0;
					top: 35px;
					display: none;
					left: 50%;
					margin: 0 0 0 -125px;
					padding: 0;
					position: absolute;
					width: 250px;
					z-index: 10;
				}
				#header-nav ul li:hover ul.sub-menu {
					display: block;
				}
					#header-nav ul li ul.sub-menu li {
						display: block;	
						margin: 0;					
						padding: 10px;
						text-align: center;
					}
					#header-nav ul li ul.sub-menu li:hover {
						background-color: #e0e0e0;
					}
						#header-nav ul li ul.sub-menu li a,
						#header-nav ul li ul.sub-menu li a:active,
						#header-nav ul li ul.sub-menu li a:visited,
						#header-nav ul li ul.sub-menu li a:focus {
							display: block;
							font-size: 14px;
						}
						#header-nav ul li ul.sub-menu li a:hover {

						}
/**
 * FLOATING STORIES
 */
.floating-stories {
	background: url('img/floating.png') right center no-repeat;
	color: #fff;
	font-family: 'Enriqueta', serif;
	font-size: 14px;
	padding: 10px 10px 20px 30px;
	position: fixed;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	width: 193px;
	z-index: 10;
} 
	.floating-stories a,
	.floating-stories a:active,
	.floating-stories a:visited,
	.floating-stories a:focus {
		color: #fff;
	}
	.floating-stories a:hover {
		text-decoration: underline;
	}
	.floating-stories-number .number {
		font-size: 26px;
	}

/**
 * MAIN
 */
#main-content {

}
	#main-content .row section,
	footer {
		float: none!important;
		margin: 0 auto;
		max-width: 1200px;
	}

/**
 * FOOTER
 */
#footer-social-row {
	background: #e0e0e0;
	padding-bottom: 20px;
	padding-top: 20px;
}
.subpage #footer-social-row {
	background: #e0e0e0;
}
	#footer-social-left {	
		padding: 40px 15px;
		text-align: center;
	}
		#footer-social-left h4 {
			color: #c1c0c2;
			font-size: 28px;
			text-transform: uppercase;
		}
	#footer-social-right {
		border-left: 3px solid #c1c0c2;
		padding-bottom: 10px;
		padding-top: 10px;		
		text-align: center;
	}
		#footer-social-nav {
			
		}
			#footer-social-nav ul {
				list-style: none;
				margin: 0;
				padding: 0;			
			}
				#footer-social-nav ul li {
					font-size: 80px;
					display: inline;
					margin-right: 40px;
				}
				#footer-social-nav ul li:last-child {
					margin-right: 0;
				}
					#footer-social-nav ul li a,
					#footer-social-nav ul li a:active,
					#footer-social-nav ul li a:visited,
					#footer-social-nav ul li a:focus {
						color: #c1c0c2;
					}					
					#footer-social-nav ul li a:hover {
						color: #BF7F31;
					}	
					#footer-social-nav ul li:nth-child(1) a:hover {
						color: #6898AD;
					}
					#footer-social-nav ul li:nth-child(2) a:hover {
						color: #BF7F31;
					}
					#footer-social-nav ul li:nth-child(3) a:hover {
						color: #768347;
					}
					#footer-social-nav ul li:nth-child(4) a:hover {
						color: #D36149;
					}
#footer-row {
	background: rgb(211,97,71); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNkMzYxNDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNiZTdmMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(211,97,71,1) 29%, rgba(190,127,48,1) 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(29%,rgba(211,97,71,1)), color-stop(30%,rgba(190,127,48,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(211,97,71,1) 29%,rgba(190,127,48,1) 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(211,97,71,1) 29%,rgba(190,127,48,1) 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(211,97,71,1) 29%,rgba(190,127,48,1) 30%); /* IE10+ */
	background: linear-gradient(to right,  rgba(211,97,71,1) 29%,rgba(190,127,48,1) 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d36147', endColorstr='#be7f30',GradientType=1 ); /* IE6-8 */
	color: #fff;
}
	#footer {

	}
		#footer a,
		#footer a:active,
		#footer a:visited,
		#footer a:focus {
			color: #fff;
		}
		#footer a:hover {
			color: #000;
		}		
		#footer-left {
			background: #d36147;
			padding-bottom: 20px;
			padding-top: 20px;
		}
			#footer-left h4 {
				color: #fff;
				margin-top: 0;
				text-transform: uppercase;
			}
			#footer-latest-news-wrap {

			}
				#footer-latest-news-wrap h5 {
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 14px;
					margin: 20px 0 10px 0;
					line-height: 1.3em;
				}
				#footer-latest-news-wrap p {
					font-size: 14px;
				}
				#footer-latest-news-wrap {
					font-weight: 100;
				}
				#footer-latest-news-wrap a.read-more {
					font-family: 'Enriqueta', serif;
					text-transform: uppercase;
				}
		#footer-middle {
			background: #be7f30;
			font-size: 16px;
			font-weight: 300;
			min-height: 200px;
			padding: 0px 40px 0px 40px;		
		}
			#footer-middle strong {
				font-weight: 900;
			}
			#footer-middle-nav {
				padding: 0 40px;
			}
				#footer-middle-nav ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}
					#footer-middle-nav ul li {
						display: inline;
						font-size: 13px;
					}
					#footer-middle-nav ul li:after {
						content: "|";
						padding: 0 5px;
					}
					#footer-middle-nav ul li:last-child:after {
						display: none;
					}
		#footer-right {
			background: #be7f30;
			padding-bottom: 60px;
			padding-right: 60px;
			padding-top: 20px;			
		}
			#footer-list {
				padding-left: 70px;
			}
				#footer-list p {
					font-size: 16px;
					font-weight: 300;
				}			
			#footer-right-mailing-list-wrap {
				background: #fff;
				margin: 20px 0;
				padding: 5px;
				overflow: hidden;
			}
				#footer-right-mailing-list {	
					overflow: hidden;
					position: relative;				
				}
					#emma-form-elements {
						width: 63%!important;
					}
						.emma-form-row {
							float: left;
							width: 69%!important;
						}
						.emma-cf::after {
							clear: none!important;
						}
						.emma-form-row:nth-child(2),
						.emma-form-row:nth-child(3){
							display: none!important;
						}
						.emma-form-row-last {
							clear: none!important;
							width: 30%!important;
						}
							ul#emma-form-elements {
								width: 100%!important;
							}
							ul#emma-form-elements .emma-form-input {
								border: 0!important;	
								color: #c1c0c2!important;
								float: left!important;
								font-size: 18px!important;
								width: 63%!important;
								padding: 13px!important;	
							}
							.emma-form-label {
								display: none!important;
							}
					#footer-right-mailing-list input[type="text"],
					#emma-form-submit {
						border: 0!important;	
						color: #c1c0c2!important;
						float: right!important;
						font-size: 18px!important;
						width: 100%!important;
						padding: 13px!important;
					}
					#emma-form input[type="submit"], #emma-form a#emma-form-submit {
						margin: 10px 0;
					    font-size: 18px;
					}
					#footer-right-mailing-list .faux-btn {
						float: right;
					}
					#emma-form-submit {
						background: #BE7F30!important;
						color: #fff!important;
					}
					#emma-form-submit:hover {
						background-color: #b4823a!important;
					}
					.emma-status, .emma-alert {
						margin: 6em auto 0!important;
					}
		#footer-meta {
			font-size: 13px;
			padding-top: 5px;
			text-align: right;
		}
			#footer-meta a,
			#footer-meta a:active,
			#footer-meta a:visited,
			#footer-meta a:focus {

			}
			#footer-meta a:hover {

			}
/**
 * SECTIONS/PAGES
 */

/**
 * PAGE TOP
 */
.page-top-row {

}
	.has-img .page-top {
		padding: 0;
	}
		/**
		 * PAGE TOP W/FEATURED IMAGE
		 */
		.has-img .page-top-text-overlay {
			background: rgba(0,0,0,.5);
			color: #fff;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.page-top-text-overlay.events-top {
			background: rgba(100,152,174,.9);
		}
		.has-img .page-top-text-overlay.race-overlay {
			background-color: transparent;
			padding-bottom: 120px;
		}
			.has-img  .page-top-text-overlay-inner {
				display: table;
				height: 100%;
				margin: 0 auto;
				width: 70%;
			}
				.has-img .page-top-text-overlay-inner-content {
					display: table-cell;
					text-align: center;					
					vertical-align: middle;
				}
				.has-tabs .page-top-text-overlay-inner-content-wrap {
					padding-bottom: 40px;
				}
				.has-tabs .has-img .page-top-text-overlay p {
					font-size: 24px;
				}
					.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
						background: rgba(0,0,0,.5);
						margin: 0 auto;
						padding: 40px;
						width: 50%;
					}
						.has-img  .page-top-text-overlay h1 {
							color: #fff;
							font-size: 28px;
							text-transform: uppercase;
						}
						.has-img  .page-top-text-overlay p {
							font-size: 28px;
						}
		.has-img  .page-top img {
			height: auto;
			width: 100%;
		}
		.race-img-wrap {
			padding-bottom: 10px;
			text-align: center;			
		}
			.race-img-wrap img {
				height: auto!important;
				width: auto!important;
			}
		/**
		 * PAGE TOP WITHOUT FEATURED IMAGE
		 */
		.no-img .page-top {
			margin-bottom: 40px;
			margin-top: 40px;
		} 
			.no-img .page-top-text-overlay {
				text-align: center;
			} 
				.no-img  .page-top-text-overlay h1 {
					font-size: 28px;
					margin-bottom: 20px;
					text-transform: uppercase;
				}
				.no-img  .page-top-text-overlay p {
					font-size: 20px;
					font-weight: 100;
				}	
/**
 * PAGE TOP EVENTS LANDING PAGE
 */					 
#events-flip {
	height: auto;
	left: 0;
	position: absolute;	
	top: 0;
	width: auto;
	z-index: 8;
}
	.events-top-month {
		font-size: 23px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
	}
	.events-top-day {
		font-size: 95px;
		font-weight: 700;
		line-height: 1;
		margin: 0 0 15px 0;
	}
	.page-top-text-overlay-inner-content-wrap p {
		font-weight: 300;
	}
	.events-view-all-wrap {
		padding: 20px 0;
		text-align: center;
	}
.submit-row {
	background: #748346;
	color: #fff;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}
.green-heroes-row {
	background: #748346;
	color: #fff;
	padding: 80px 140px;
	text-align: center;
}

.orange-heroes-row {
	background: #d36147;
	color: #fff;
	padding: 60px 140px;
	text-align: center;
}	
	#green-heroes h4 {
		color: #fff;
		font-size: 28px;
		text-transform: uppercase;
	}
	#blue-heroes h4, #meet-race-team h4, #heroes-get-social h4 {
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		margin: 2rem 0rem;
	}
.hero-event-row {
	background-color: #505050;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding: 120px 140px;
	text-align: center;
}
	#hero-event {
		font-size: 20px;
	}
	#hero-event h4 {
		color: #fff;
		font-size: 28px;
		text-transform: uppercase;
	}
/**
 * 6k LANDING PAGE
 */	
#map-overlay {
	height: 100%;
	left: 0;
	padding: 0% 20% 10%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
} 
#sixk-big {
	display: block;
	height: auto;
	max-width: 550px;
    position: absolute;
    top: 0;
    z-index: 2;
    margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	left: 0;
	right: 0;
}
	#map-overlay svg {
		height: 100%;
		margin-top: -20px;
		width: 100%;
	}
	#map-overlay a {
		opacity: 1;
		-moz-transition: opacity ease .2s;
		-ms-transition: opacity ease .2s;
		-o-transition: opacity ease .2s;
		-webkit-transition: opacity ease .2s;		
		transition: opacity ease .2s;		
	}
	#map-overlay a:hover {
		opacity: .5;
	}
	.page-2216 .has-img .page-top {
		max-height: 700px;
		max-height: 600px;
		overflow: hidden;
		padding-bottom: 60px;
	}
.race-listing-wrap {
	padding-bottom: 40px;
	padding-top: 40px;
}
.race-landing-row {
	border-bottom: 5px solid #999999;
}
.race-landing-row:last-child {
	border: 0;
}
	.race-row {

	}
		.race-wrap {
			color: #4d4d4d;
		}
		.race-wrap:nth-child(odd) {
			border-right: 5px solid #999999;
		}
			.race-page-date {
				color: #4d4d4d;
				font-family: 'Enriqueta', serif;
				text-align: center;
				padding-bottom: 20px;
				padding-top: 20px;
			}
			.race-landing-row:first-child .race-page-date {
				padding-top: 0;
			}
				.race-page-date-month {
					font-size: 22px;
					display: block;
					line-height: 1;					
				}
				.race-page-date-day {
					font-size: 47px;
					line-height: 1;
				}
			.race-page-location {
				font-size: 18px;
				font-weight: 300;
				padding-bottom: 30px;
				padding-top: 30px;
			}
			.race-landing-row:first-child .race-page-location {
				padding-bottom: 15px;
				padding-top: 15px;				
			}
			.race-page-link {
				padding-bottom: 30px;
				padding-right: 20px;
				padding-top: 30px;
				text-align: right;		
			}
			.race-landing-row:first-child .race-page-link {
				padding-bottom: 13px;
				padding-top: 13px;
			}
				.race-page-link a,
				.race-page-link a:active,
				.race-page-link a:visited,
				.race-page-link a:focus {
					color: #4d4d4d;
					font-family: 'Enriqueta', serif;
					font-size: 22px;
					text-transform: uppercase;
					text-decoration: underline;
				}
				.race-page-link a:hover {
					color: #D36149;
				}
			.race-page-last-pannel {
				color: #4d4d4d;
				font-size: 15px;
				font-weight: 700;
				padding: 20px 40px 10px;
			}

/**
 * GENERAL PAGE
 */
.page-row {
	padding-bottom: 40px;
	padding-top: 40px;
}
	#submit-content {
		font-size: 20px;
	}

/**
 * ABOUT PAGE styles by BW 7/12/17
 */
	/*
	//Removed 7/17/17 since this exception caused problems on race pages. New solution required moving of header content DIV. Got lucky with simplicity.
	@media screen and (min-width: 1024px){
		.page-652 .page-row.row {
    	padding-top: 110px;
		}
	}
	*/

	@media only screen and (max-width: 767px) and (min-width: 0px){
		.page-652 .tab-nav-row.row {
    	margin-top: 80px;
		}
	}

	.page-652 #main-content {
    	padding-top: 0 !important;
	}
	/* 
	//removed 7/17/17 due to moving the tab and _page-top DIVs out of main content
	@media screen and (min-width: 768px) and (max-width: 1200px) {
		.page-652 #main-content {
    	padding-top: 140px !important;
		}
	}
	*/


/**
 * Tabbed Content
 */
.tab-nav-row {
	background: #6498ae;
	background: rgba(100,152,174,.8);
	padding-bottom: 40px;
	padding-top: 40px;
	/* position: absolute; removed 7/17/17 */
	width: 100%;
	margin:0;
}
	.tab-nav {

	}
		.tab-nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.tab-nav ul li {
				display: inline;
				margin-right: 40px;
			}
			.tab-nav ul li:last-child {
				margin-right: 0;
			}
				.tab-nav ul li a,
				.tab-nav ul li a:active,
				.tab-nav ul li a:visited,
				.tab-nav ul li a:focus {
					color: #fff;
					padding-bottom: 10px;
				}
				.tab-nav ul li a:hover,
				.tab-nav ul li a.active {
					border-bottom: 5px solid #fff;
				}
	.tab-h2 {
		margin-bottom: 20px;
	}

/**
 * FRONT PAGE
 */
#image-grid-row {
	background: #000 url('img/grid_bg.jpg');
	padding-bottom: 130px;
	padding-top: 130px;
	position: relative;
	overflow: hidden;	
}
	#image-grid {
		overflow: hidden;
		z-index: 4;
	}
	#ri-grid:before {
		background: rgba(0,0,0,.5);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
	}
	#ri-grid {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
		#image-grid-copy {
		  color: #fff;
		  text-align: center;
		  padding: 30px 0;
		  /*background-color: rgba(0,0,0,.5); */
		}
			#image-grid-copy-line-1 {
			  font-size: 25px;
			  margin-bottom: 20px;
			  font-weight: bold;
			}
			#image-grid-copy-line-2 {
				font-size: 44px;
				font-weight: 900;
				text-transform: uppercase;
			}
		#image-grid-buttons {
			margin-top: 40px;
		}
#home-events-row {
	padding-bottom: 20px;
	padding-top: 20px;
}
	#home-events {
		color: #4d4d4d;
	}
		#home-events-table {
			width: 100%;
		}
			#home-events-table tr {
				/*border-bottom: 3px solid #9f9f9f;*/
				display: block;
				position: relative;
			}
			#home-events-table tr:last-child {
				border-bottom: 0;
			}
			#home-events-table tr:after {
/*				background: #9f9f9f;
				bottom: -4px;
				content: "";
				height: 4px;
				position: absolute;
				right: -50%;
				width: 100%;*/
			}	
			#home-events-table tr:before {
				background: #9f9f9f;
				bottom: -4px;
				content: "";
				height: 4px;
				left: -50%;
				position: absolute;				
				width: 200%;
			}
			#home-events-table tr:last-child:before,
			#home-events-table tr:last-child:after {
				background: transparent;
				width: 0;
			}
				#home-events-table tr td {
					padding: 20px;
					vertical-align: middle;
				}
				#home-events-table tr td:first-child {
					padding-left: 0;
				}
				#home-events-table tr td:last-child {
					padding-right: 0;
				}
					.home-events-date {
						font-family: 'Enriqueta', serif;
						line-height: 1;
						width: 5%;
					}
						.home-events-date-month {
							display: block;
							font-size: 22px;
							font-weight: 300;
							text-transform: uppercase;
						}
						.home-events-date-day {
							font-size: 44px;
						}
					.home-events-title {
						font-size: 18px;
						width: 55%;
					}
					.home-events-location {
						font-size: 18px;
						text-align: right;
						width: 20%;
					}
					.home-events-more-info {
						font-family: 'Enriqueta', serif;
						font-size: 22px;
						text-align: right;
						width: 20%;
					}
						.home-events-more-info a,
						.home-events-more-info a:active,
						.home-events-more-info a:visited,
						.home-events-more-info a:focus {
							color: #4d4d4d;
							text-decoration: underline;
							text-transform: uppercase;
						}
						.home-events-more-info a:hover {
							font-weight: 700;
						}
#featured-hero-row {
	background: #6996a0;
}
	#featured-hero {		
		max-width: 100%!important;
		padding: 0;
		width: 100%;
	}
		#featured-hero-img {
			padding: 0;
			position: relative;
			text-align: right;
		}
			#featured-hero-copy:before {
				background: url('img/featured_hero_flip.png') no-repeat;
				content: "";
				height: 96px;
				left: 0;
				position: absolute;
				top: 0;
				width: 96px;
			}
			#featured-hero-img img {
				height: auto;
				width: 100%;
			}
		#featured-hero-copy {
			color: #fff;
			padding: 35px;
			text-align: center;
		}
			#featured-hero-copy h2 {
				color: #000;
			}
			#featured-hero-copy h3 {
				color: #fff;
				font-family: 'Lato', sans-serif;
				font-size: 22px;		
				margin-bottom: 0px;		
				text-transform: uppercase;
			}
			#featured-hero-copy p {
				font-size: 18px;
				font-weight: 100;
				margin-bottom: 15px;
			}
			#featured-hero-copy .mobile-featured-hero {
				max-width: 500px;
			}
#who-we-are-row {
	background: #fff url('img/who_we_are_home.jpg') center center;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	color: #333333;
	padding-bottom: 60px;
	padding-top: 60px;
}
	#who-we-are {
		text-align: center;
	}
		#who-we-are iframe,
		#green-heroes-video iframe,
		.page-content-wrap iframe {
			/* height: auto; Dax removed since causing problem with non-video iframes */
			width: 100%;
			max-width: 900px;
		}
		#who-we-are h2 {
			font-size: 28px;
			margin-bottom: 20px;
			margin-top: 0;
		}
		#who-we-are p {
			font-size: 18px;
			font-weight: 100;
			margin-bottom: 20px;
		}
		#who-we-are .hir-btn {

		}
/**
 * About Page
 */
.advocate-wrap {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;	
}
.advocate-wrap:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
	.advocate-img {
		padding-left: 0;
		padding-right: 20px;
	}
		.advocate-img img {
			/*height: auto;
			width: 100%;*/
			max-width: 100%;
		}
	.advocate-content {
		padding-left: 0;
	}
		.advocate-content h2 {
			margin-top: 0;
		}
		.advocate-content p {

		}
.hide-reveal-wrap {
	background: #e0e0e0;
	margin-bottom: 10px;
	padding: 10px;
}
.hide-reveal-wrap:hover {
	cursor: pointer;
}
.hide-reveal-wrap.faq-active {
	background: #6498ae;
	color: #fff;
}
	.hide-reveal-question {

	}
		.hide-reveal-question h4 {
			font-size: 16px;
			font-weight: 900;
		}
		.faq-active .hide-reveal-question h4 {
			color: #fff;
		}
		.hide-reveal-more {

		}
			.hide-reveal-read-more-button {
				background: transparent;
				border: 0;
				color: #696969;
				font-size: 40px;
				line-height: 0;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
			.hide-reveal-read-more-button:hover,
			.faq-active .hide-reveal-read-more-button {
				color: #fff;
			}
		.hide-reveal-answer {
			display: none;
			font-size: 16px;
			margin-top: 10px;
		}
		.expand-btn-wrap {
			text-align: right;
			padding: 0 0 20px 0;
		}
		.expand-btn {
			background: #6498AE;
			border: 0;
			color: #fff;
			padding: 10px 20px;
		}
	.news-pagination {
		padding: 10px 0;
	}		
/**
 * EVENTS (CALENDAR) PAGE
 */
#tribe-events-pg-template {
	padding-bottom: 40px;
	padding-top: 40px;
}
	.tribe-events-page-title {
		text-transform: uppercase;
	}
/**
 * 6K RACE EVENT PAGE
 */
.race-date-wrap {
	color: #6898ad;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
	.race-month,
	.race-year {
		font-size: 15px;

	}
	.race-day {
		font-size: 60px;
	}
.race-charity {
	font-weight: 700;
}
.race-poster {
	margin: 20px 0;
}
	.race-poster img {
		border: 1px solid #ccc;
		height: auto;
		width: 100%;
		margin: 0 auto;
		display: block;
		max-width: 200px;
	}
.race-map iframe {
	max-width: 100%;
}
.sponsor-wrap {
	margin-top: 40px;
}
.sponsor-wrap p {
	font-size: 22px;
	text-transform: uppercase;
}
.sponsors-copy p {
	font-size: 16px;
	text-transform: none;
}
.sponsor-wrap img {
	height: auto;
	margin-right: 20px;
	width: 175px;
}
/* Disabled by Ben Wright on 3/21/17 due to spacing issues on Sponsor Page.
.sponsor-wrap img:last-child {
	margin-right: 0;
}
*/
.race-description {
	
}
	.race-description h2 {
		color: #6898ad;
		font-size: 28px;
		margin-top: 0;
		text-transform: uppercase;
	}
	.race-description p {
		font-size: 18px;
	}
	.race-description p:first-child {
		font-size: 20px;
	}	
#race-logo {
	display: block;
	height: auto;
	margin: 20px auto 0;
	width: 175px;
}
/**
 * SEARCH FORM
 */		
.search-row {
	background: #e8e8e8;	
	padding-bottom: 20px;
	padding-top: 20px;
}
	.search-form-wrap {
		background: #fff;
		float: right;
		padding: 10px;
	}
		.search-input {
			border: 0;
			width: 80%;
		}
			.search-submit {
				background: transparent;
				border: 0;
			}
				.search-submit i {
					color: #666;
					font-size: 24px;
				}
					.search-submit:hover i {
						color: #6898AD;
					}
	.story-additional {
		background: #CFD3D4;
		color: #000;
		display: none;
		left: 0;
		padding: 20px;
		position: absolute;	
		top: 68px;	
		width: 100%;
		z-index: 2;
	}
	.story-additional:hover {
		display: block;
	}
		.story-additional .faux-checkbox {
			background: #fff;
		}



/* 404 Page */

.frn_search_box .col-sm-offset-1 {
	/*bootstrap overwrite*/
	margin-left: 2%;
}
.frn_search_box .col-sm-9 {
	/*bootstrap overwrite*/
    width: 100%;
}
.frn_search_box .col-sm-3 {
	/*bootstrap overwrite*/
	width: 100%;
}
.frn_search_box .search-form-wrap {
	float: none;
}




/**
 * SHARE
 */
.quick-tips-row {
	background: #5e7a9d;
	color: #fff;
	padding-bottom: 40px;
	padding-top: 40px;
}
	.quick-tips-row img {
		display: block;
		margin: 0 auto;
	}
	.quick-tips-row h3 {
		color: #fff;
		font-size: 18px;
		margin: 5px 0 20px 0;
		text-align: center;
		text-transform: uppercase;
	}
	.quick-tips-col {
		font-size: 16px;
		text-align: center;
	}
		#quick-tips-col-1 {

		}
		#quick-tips-col-2 {
			border-left: 3px solid #405a7f;
			border-right: 3px solid #405a7f;
		}
		#quick-tips-col-3 {

		}
.share-row {
	border-bottom: 3px solid #666;
	padding-bottom: 40px;
	padding-top: 40px;
}
.share-row:last-child {
	border: 0;
}
	.step-instructions {
		margin-bottom: 20px;
		text-align: center;
	}
	#step-0 .step-instructions,
	#step-2 .step-instructions,
	#step-3 .step-instructions {
		margin-bottom: 40px;
	}
		.step-instructions h2 {
			text-transform: uppercase;
		}
			.step-number {
				border: 5px solid #d36149;
				border-radius: 50%;
				color: #d36149;
				display: table;
				font-size: 33px;
				font-weight: 700;
				line-height: 0;
				margin: 0 auto 10px;
				padding: 20px;
				vertical-align: middle;
			}
		.step-instructions p {
			font-size: 20px;
		}
		.error {
			color: red;
		}
	/**
	 * SHARE FORM FIELDS
	 */
	.field-wrap {
		margin-bottom: 20px;
	}
		/**
		 * LABEL
		 */
		.field-wrap label {
			display: block;
			font-size: 22px;
		}
		/**
		 * REQUIRED
		 */
		.required {
			color: #d36149;
		}
		.field-wrap small {
			display: block;
			margin: 10px 0;
		}
		/**
		 * INPUTS
		 */
		.field-wrap input[type="text"],
		.field-wrap input[type="email"],
		.field-wrap input[type="phone"]  {
			background: #e0e0e0;
			border: 0;
			display: block;
			padding: 20px;
			-moz-transition: color ease .2s;
			-ms-transition: color ease .2s;
			-o-transition: color ease .2s;
			-webkit-transition: color ease .2s;		
			transition: color ease .2s;			
			width: 100%;
		}
			.field-wrap input[type="text"]:focus,
			.field-wrap input[type="email"]:focus {
				background: #aaa;
				color: #fff;
			}
		/**
		 * TEXTAREA
		 */	
		.field-wrap textarea {
			background: #e0e0e0;
			border: 0;
			display: block;
			height: 200px;
			padding: 20px;
			-moz-transition: color ease .2s;
			-ms-transition: color ease .2s;
			-o-transition: color ease .2s;
			-webkit-transition: color ease .2s;		
			transition: color ease .2s;			
			width: 100%;
		}
			.field-wrap textarea:focus {
				background: #aaa;
				color: #fff;
			}		 
		/**
		 * CHECKBOXES
		 */
		.faux-checkbox {
			display: inline-block;
			background-color: #e0e0e0;
			height: 25px;
			margin-bottom: 20px;
			margin-right: 10px;
			width: 25px;
		}
		.faux-checkbox:hover {
			cursor: pointer;
		}
			.faux-checkbox.checked {
				background: #e0e0e0 url('img/check.png') center center no-repeat;
			}
			.faux-checkbox input[type="checkbox"] {
				opacity: 0;
			}
		.field-wrap input[type="checkbox"] {
			position: relative;
		}
	/**
	 * SUBMIT
	 */
	.share-submit-wrap {
		text-align: center;
	} 
		.share-submit-wrap .faux-btn {
			display: inline-block;
		}
	/**
	 * ERRORS
	 */
	.errors-row {
		background: #d36148;
		color: #fff;
		padding-bottom: 40px;
		padding-top: 40px;
	}
		.errors-row h3 {
			color: #fff;
		}
	/**
	 * UPLOAD
	 */
	#upload {

	}
		.select-upload {
			float: right;
		}
	/**
	 * AVATAR SELECT
	 */
	#avatar-wrap {
		padding: 20px;
	} 
		#avatar-list {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
			#avatar-list li {
				border: 3px solid transparent;
				float: left;
			}
			#avatar-list li:hover {
				border-color: #D36149;
			}
			#avatar-list li.selected {
				border-color: #617A9C;
			}

	/**
	 * THANK YOU PAGE
	 */
	#social-share {		
		margin-bottom: 20px;
		text-align: center;
	} 
		#social-share a {
			font-size: 50px;
			margin-right: 20px;
		}
		#social-share a:last-child {
			margin-right: 0;
		}

/**
 * THE LOOP
 */
.blog-post-row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;
}
	.blog-post-loop-img {
		text-align: left;		
	}
		.blog-post-loop-img img {
			float: none;
			height: 75px;
			width: 75px;
		}
	.blog-post-loop-content {

	}
		.blog-post-loop-content h3 {
			font-family: 'Lato', sans-serif;
			font-size: 18px;
			font-weight: 700;
			margin-top: 0;
		}
			.blog-post-loop-content h3 a,
			.blog-post-loop-content h3 a:active,
			.blog-post-loop-content h3 a:visited,
			.blog-post-loop-content h3 a:focus {
				color: #6898ad;
			}
			.blog-post-loop-content h3 a:hover {
				color: #666;
			}
		.blog-post-loop-more,
		.blog-post-loop-more:active,
		.blog-post-loop-more:visited,
		.blog-post-loop-more:focus {
			color: #666;
			font-family: 'Enriqueta', serif;
			font-weight: 700;
			padding-left: 10px;
			text-decoration: underline;
			text-transform: uppercase;
		}
		.blog-post-loop-more:hover {
			color: #6898ad;
		}			
	.blog-post-loop-meta {
		margin-bottom: 10px;
	}
		.blog-post-loop-meta a,
		.blog-post-loop-meta a:active,
		.blog-post-loop-meta a:visited,
		.blog-post-loop-meta a:focus {
			color: #6898ad;
		}
		.blog-post-loop-meta a:hover {
			color: #666;
		}
/**
 * SINGLE POST
 */
.single-title {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.single-meta {
	display: table;
	margin-bottom: 20px;
}
	.single-meta-inner {
		display: table-cell;
		font-size: 25px;
		text-align: center;
		vertical-align: middle;
		float: left;
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
	}
		.single-meta-image, .blog-post-loop-img-wrap {
			height: 75px;
			width: 75px;
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
		}
		.single-meta-image {
			float: left;
		}
		.single-meta-image img, .blog-post-loop-img-wrap img {
			width: auto;
			max-width: 500%;
			float: none;
			height: 100%;
			position: relative;
			left: 50%;
			vertical-align: middle;
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		.single-meta-author-wrap {
			display: table;
		}
		.single-meta-author {
			padding: 0 8px 0 8px;
			display: table-cell;
			text-align: left;
			vertical-align: middle;
			height: 75px;
		}
		.single-meta-inner a,
		.single-meta-inner a:active,
		.single-meta-inner a:visited,
		.single-meta-inner a:focus {
			color: #6898ad;
		}
		.single-meta-inner a:hover {
			color: #666;
		}		
.single-share h3,
.single-comments h3	{
	font-size: 28px;
	margin-top: 0;
	text-transform: uppercase;
}
	#respond {
		margin-top: 0!important;
	}
.single-pagination {
	margin-top: 40px;
}
	.single-pagination-next {
		text-align: right;
	}
/**
 * SINGLE STORY
 */
.single-story-top {
	display: table;
	margin-bottom: 40px;
	width: 100%;
} 
	.single-story-image {
		display: table-cell;
		float: none;
	}
		.single-story-image img {
			display: block;
			min-width: 210px;
		}
			.single-story-image:after {
				background: #676767;
				content: "";
				height: 100%;
				width: 5px;
				position: absolute;
				top: 0;
				right: 30px;
			}
	.single-story-meta {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
	.single-story-meta-inner {
				
	}
		.single-story-hero {
			color: #676767;
			font-family: 'Enriqueta', serif;
			font-size: 40px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.single-story-title {
			font-family: 'Lato', sans-serif;
			font-size: 28px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.single-story-date {
			font-family: 'Enriqueta', serif;
			font-size: 25px;
		}
.single-story-categories {
	margin-bottom: 40px;
}
	.single-story-categories ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.single-story-categories ul li {
			border-right: 2px solid #bbbdbf;
			color: #bbbdbf;
			display: inline;
			font-size: 13px;
			font-weight: 900;
			padding: 0 10px;
			text-transform: uppercase;
		}
		.single-story-categories ul li:first-child {
			padding-left: 0;
		}
		.single-story-categories ul li:last-child {
			border-right: 0;
		}

/**
 * STORY ARCHIVE
 */
.story-category-row {
	background: #e8e8e8;
	padding-bottom: 20px;
	padding-top: 20px;
} 
.story-archive-item {
	padding: 0;
	width: 16.666666%
}
.alm-reveal {
	clear: both;
}
	.story-item-link {
		display: block;
		position: relative;
	}
		.story-item-overlay {
			background: rgba(94, 122, 157, .9);
			height: 100%;
			opacity: 0;
			position: absolute;
			padding: 40px;
			width: 100%;
			-moz-transition: opacity ease .2s;
			-ms-transition: opacity ease .2s;
			-o-transition: opacity ease .2s;
			-webkit-transition: opacity ease .2s;		
			transition: opacity ease .2s;			
		}
		.story-archive-item:nth-child(2n+1) .story-item-overlay {
			background: rgba(97,121,155,.9);
		}
		.story-archive-item:nth-child(2n+2) .story-item-overlay {
			background: rgba(190,126,48,.9);
		}	
		.story-archive-item:nth-child(2n+3) .story-item-overlay {
			background: rgba(117,130,70,.9);
		}	
		.story-archive-item:nth-child(2n+4) .story-item-overlay {
			background: rgba(211,97,72,.9);
		}
		.story-archive-item:nth-child(2n+5) .story-item-overlay {
			background: rgba(211,97,72,.9);
		}
		.story-archive-item:nth-child(2n+5) .story-item-overlay {
			background: rgba(117,130,70,.9);
		}	
		.story-archive-item:nth-child(2n+7) .story-item-overlay {
			background: rgba(190,126,48,.9);
		}					
		.story-archive-item:nth-child(2n+8) .story-item-overlay {
			background: rgba(97,121,155,.9);
		}
		.story-archive-item:nth-child(2n+9) .story-item-overlay {
			background: rgba(97,121,155,.9);
		}
		.story-archive-item:nth-child(2n+10) .story-item-overlay {
			background: rgba(190,126,48,.9);
		}	
		.story-archive-item:nth-child(2n+11) .story-item-overlay {
			background: rgba(117,130,70,.9);
		}	
		.story-archive-item:nth-child(2n+12) .story-item-overlay {
			background: rgba(211,97,72,.9);
		}		
				
		.story-item-link:hover .story-item-overlay {
			opacity: 1;
		}
			.story-item-overlay-content {
				border-left: 10px solid #fff;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				height: 100%;
				padding-left: 20px;
			}
				.story-item-overlay-content-inner {
					display: table;
					height: 100%;
					width: 100%;
				}
					.story-item-overlay-content-inner-vertical {
						display: table-cell;
						vertical-align: middle;
					}
				.story-item-overlay-content-title {
					display: block;
					margin-bottom: 20px;
				}
				.story-item-overlay-content-hero {
					display: block;
					font-family: 'Enriqueta', serif;
					text-transform: uppercase;
				}
		.story-item-link img {
			height: auto;
			width: 100%;
		}
		.alm-btn-wrap {
			clear: both;
			padding-bottom: 20px;
			padding-top: 20px;
			text-align: center;
		}
			.alm-btn-wrap button {
				background-color: transparent;
				border: 0;
				color: #676767;
				font-family: 'Enriqueta', serif;
				font-size: 28px;
				font-weight: 700;				
				text-transform: uppercase;
			}
			.alm-btn-wrap button.loading {
				background: url('img/loading.gif') center center no-repeat;
				height: 60px;
				width: 60px;
				text-indent: -9999px;
			}
		.story-page-share {
			margin-bottom: 20px;
			text-align: center;
		}
.category-list {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}			
	.category-list li {
		display: inline;
		margin-right: 25px;
	}
	.category-list li:last-child {
		margin-right: 0;
	}
		.category-list li a,
		.category-list li a:active,
		.category-list li a:visited,
		.category-list li a:focus {
			color: #404041;
			font-size: 16px;
			padding: 10px 0 10px 0;
		}
		.category-list li a:hover,
		.category-list li a.current-cat {
			border-bottom: 5px solid #404041;
		}
/**
 * Other
 */
.is-hidden   { display: none; }
.page-title  { margin-bottom: 40px; } 
.alignright  { float: right; margin: 0 0 20px 20px; }
.alignleft   { float: left; margin: 0 20px 20px 0; }
.aligncenter { text-align: center; }

.full-width-video iframe { width: 100%; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
	.break {
		color: rgba(0,0,0,0);
		display: block;
		height: 0;
	}
}


/**
 * Mobile Nav
 */
	.hamburger {
		display: none;		
		padding: 10px;
		position: fixed;
		right: 20px;
		text-align: right;
		top: 20px;
		z-index: 9999;		
	}
	#hamburger-nav-inner {
		height: 99%;
		overflow: auto;
	}
		.hamburger img {
			
		}
		.nav-button.hamburger {
			position: relative!important;
			left: 0;
		}
	#hamburger-nav {
		background: rgba(103, 151, 173, .95);
		display: none;
		height: 100%;
		left: 0;
		overflow: hidden;
		padding: 20px 10px 160px;
		position: fixed;
	    top: 115px;
		width: 100%;
		z-index: 9;
	}
		#hamburger-nav .nav-button {
			border: 0!important;
			color: #fff;
			display: block;
			font-size: 16px;
			margin: 0;
			padding: 5px;
			position: relative;
			text-align: center;
			text-decoration: none!important;
			width: 100%;
				
		}
		#hamburger-nav .nav-button {
			background: #d36148;
			margin-bottom: 10px;
			font-size: 18px;
			padding: 10px;
		}
		#hamburger-nav .nav-button.child-page {
			background: transparent;	
			font-size: 16px;	
		}
		#hamburger-nav .nav-button i {
			color: #666;
			font-size: 24px;
			margin-left: 20px;
			position: absolute;
		}
		#hamburger-nav .nav-button.sub-menu {
			background: #8c1b24;
			font-size: 16px;
			padding: 10px;
		}
#menu-button {
	background: none;
	border: 0;
	float: none!important;
	font-size: 40px;
	padding: 0;
	position: fixed;
	color: #666;
	right: 10px;
	top: 0px;
		-webkit-transition: all ease .25s;
		-moz-transition: all ease .25s;
		-ms-transition: all ease .25s;
		-o-transition: all ease .25s;
	transition: all ease .25s;	
	z-index: 999;
	margin: 0;
	/*width: 100%;*/
	text-align: right;
}
	#menu-button .fa-times {
		color: #666;
	}

/**
 * FORMS
 */
.ninja-forms-cont { margin: 20px 0; }
.ninja-forms-required-items { display: none; }
.ninja-forms-field-error { color: red; }

input[type="text"].ninja-forms-field,
textarea.ninja-forms-field {
	background: #e0e0e0;
	border: 0;
	padding: 10px;
	-moz-transition: all ease .25s;
	-ms-transition: all ease .25s;
	-o-transition: all ease .25s;
	-webkit-transition: all ease .25s;		
	transition: all ease .25s;	
}
	input[type="text"].ninja-forms-field:focus,
	textarea.ninja-forms-field:focus {
		background: #bebebe;
	}

input[type="submit"].ninja-forms-field {
	background: #d36148;
	border: 0;
	color: #fff;	
	font-size: 20px;
	font-weight: 700;	
	padding: 10px 20px;
	text-transform: uppercase;
	-moz-transition: all ease .25s;
	-ms-transition: all ease .25s;
	-o-transition: all ease .25s;
	-webkit-transition: all ease .25s;		
	transition: all ease .25s;	
}
input[type="submit"].ninja-forms-field:hover {
	background: #09262d;
	color: #fff;
}
.field-wrap.label-left .ninja-forms-field,
.field-wrap.label-left .ninja-forms-star-rating-control {
	margin-left: 0!important;
}
.ninja-forms-cont {
	padding-top: 0;
	margin-top: 0;
}
/**
 * COMMENTS
 */
.comments { margin: 40px 0; }
	.comments h2 { font-size: 18px; }
	.comments ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.comments ul.children {}
		.comments ul li.comment {
			border-bottom: 1px dashed #BBBBBB;
			border-top: 1px dashed #BBBBBB;
			font-size: 14px;
			padding: 20px 0;
		}
		.comments ul.children li.comment {
			border: 0;
			border-left: 5px solid #ccc;
			margin: 20px 20px 0 20px;
			padding-left: 20px;
		}
		.comments ul.children li.comment.bypostauthor { border-color: #C7A900; }
		.comments ul li.comment a,
		.comments ul li.comment a:active,
		.comments ul li.comment a:visited {
			color: #2A5662;
		}
		.comments ul li.comment a:hover { color: #2A5662; }
			.comment-body {}
				.comment-author {}
					.avatar { float: right; }
					.fn { font-weight: 400; }
					.says { display: none; }
				.comment-meta { margin: 10px 0; }
				.comment-body p {}
#respond { margin-top: 40px; word-wrap: break-word; }
	#respond code { white-space: normal!important; }
	#respond label { display: block; }
	#respond textarea,
	#respond input[type="text"] { width: 100%; }

	.form-allowed-tags { display: none; }

::selection {
  background: #6898AD;
  color: #fff;
}
::-moz-selection {
  background: #6898AD;
  color: #fff;
}

.wp-caption-text {
	font-style: italic;
	margin-bottom: 0;
	margin-top: 10px;
}


.tribe-events-ical { display: none !important; }




.contact-info {

}
	.contact-info strong {
		color: #d36149;
	}
	.contact-info div {
		margin-bottom: 20px;
	}
	.contact-info a,
	.contact-info a:active,
	.contact-info a:visited,
	.contact-info a:focus {
		color: #808080;
	}
	.contact-info a:hover {
		color: #d36149;
	}

.gallery-close {
	border: 0;
	background: transparent;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 99999;
}
.gallery-close:hover {
	color: #fc1a02;
}

#tribe-events-content .tribe-events-calendar td {
	color: #fff;
	font-size: 0!important;
}	
#tribe-events-content .tribe-events-calendar td a {
	font-size: 12px;
}

.label-above label {
	font-size: 14px!important;
	text-transform: uppercase;
}

/**
 * RESPONSIVE
 */

@media only screen and (min-width: 768px) {
	#image-grid-row {
		min-height: 500px;
	}
} 

/**
 * Smaller Screens
 */
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
	#image-grid-row {
		padding: 50px 0;
	}
} 
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.hir-btn, .hir-btn:active, .hir-btn:visited, .hir-btn:focus {
		margin-left: 20px;
	}	

	#header {
		margin: 0;
		width: 100%;
	}
		#header-nav ul li {
			margin: 0 25px 0 0;
		}
	#image-grid-copy-line-2 {
		font-size: 40px;
	}

	#featured-hero-img {
		display: none;
	}
	#featured-hero-copy {
		width: 100%;
	}
	#featured-hero-copy .mobile-featured-hero {
		max-width: 500px;
	}
	#who-we-are .col-sm-6,
	#footer-social-left,
	#footer-social-right {
		float: none;
		width: 100%;
	}
	#who-we-are h2 {
		margin-top: 20px;
	}

	#footer-social-left {
		padding: 10px 15px;
	}
	#footer-social-right {
		border-left: 0;
	}
	#footer-social-nav ul li {
		margin-right: 40px;
	}

	.home-events-date-day {
		line-height: .5;
	}	
	.home-events-title,
	.home-events-location,
	.home-events-more-info {
		font-size: 16px;
		padding: 20px 10px;
	}

	#footer {
		margin: 0;
		width: 100%;
	}
	#footer-list {
		padding-left: 20px;
	}	
	#footer-middle-nav ul li,
	#footer-meta {
		font-size: 12px;
	}

	#footer-middle-nav {
		padding: 0 10px 0 40px;
	}	
	#footer-middle-nav ul li:after {
		padding: 0 2px;
	}
	.has-img .page-top-text-overlay p {
		font-size: 18px;
	}
	.has-tabs .has-img .page-top-text-overlay-inner {
		padding-bottom: 120px;
	}
	.advocate-img,
	.advocate-content {
		float: none;
		padding: 0 0 20px 0;
		width: 100%;
	}	
	.search-row .col-sm-10 {
		margin: 0;
		width: 100%;
	}
	.search-row .col-sm-9 {

	}
	.search-row .col-sm-3 {
		
		float: right;
	}	
	.story-item-overlay {
		opacity: 1;
		padding: 10px;
	}
	.story-item-overlay-content {
		font-size: 15px;
	}	
	.single-story-image:after {
		display: none;
	}
	.mobile-full,
	.share-step .col-sm-8 {
		float: none;
		width: 100%;
	}
	.share-step .col-sm-8,
	.mobile-full.col-sm-6 {
		margin-left: 0;
	}

	.race-location {
		display: block;
		text-align: center;
		width: 100%;
	}

	.quick-tips-row .col-sm-6 {
		margin: 0;
		width: 100%;
	}	

	.green-heroes-row {
		padding: 40px;
	}

	.orange-heroes-row {
		padding: 40px;
	}

	.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
		margin-top: 10px;
		padding: 20px;
		width: 80%;
	}	
	.story-archive-item {
		width: 25%;
		width: 33.3%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.story-archive-item {
		width: 25%;
		width: 33.3%;
	}	
	.hir-btn, .hir-btn:active, .hir-btn:visited, .hir-btn:focus {
		margin-left: 20px;
	}

	.has-tabs #main-content {
		padding: 0;
	}

	#header {
		margin: 0;
		width: 100%;
	}
		#header-nav ul li {
			margin: 0 23px 0 0;
		}
		#header-nav ul li a, #header-nav ul li a:active, #header-nav ul li a:visited, #header-nav ul li a:focus {
			font-size: 15px;
		}
	#ri-grid:before {
		background-color: transparent;
	}
	#image-grid-row {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	#image-grid-copy-line-2 {
		font-size: 31px;
	}

	#image-grid-buttons {
		margin-top: 40px;
		text-align: center;
	}	
		#image-grid-row .hir-btn, #image-grid-row .hir-btn:active, #image-grid-row .hir-btn:visited, #image-grid-row .hir-btn:focus {
			float: none;
			margin-bottom: 20px;
			margin-right: 0;
			width: 300px;
		}

	.home-events-date-day {
		line-height: .5;
	}	
	.home-events-title,
	.home-events-location,
	.home-events-more-info {
		font-size: 16px;
		padding: 20px 10px;
	}

	#featured-hero-img {
		display: none;
	}
	#featured-hero-copy {
		width: 100%;
	}

	#who-we-are .col-sm-6,
	#footer-social-left,
	#footer-social-right {
		float: none;
		width: 100%;
	}
	#who-we-are h2 {
		margin-top: 20px;
	}

	#footer-social-left {
		padding: 10px 15px;
	}
	#footer-social-right {
		border-left: 0;
	}
	#footer-social-nav ul li {
		margin-right: 40px;
	}

	#footer {
		margin: 0;
		width: 100%;	
	}
	#footer-left,
	#footer-right,
	#footer-middle,
	#footer-middle-list,
	#footer-middle-nav,
	#footer-meta {
		float: none;
		margin: 0;
		text-align: center;
		width: 100%;
	}

	#footer-right {
		padding-right: 15px;
	}
	#footer-middle {
		padding: 15px;
		text-align: center;
	}
	#footer-list {
		float: none;
		margin: 0 auto;
		padding-left: 15px;
		width: 60%;
		max-width: 600px;
	}

	#footer-middle-nav,
	#footer-meta {
		text-align: center;
	}

	.search-row .col-sm-10 {
		margin: 0;
		width: 100%;
	}
	.search-row .col-sm-9 {
		
	}
	.search-row .col-sm-3 {		
		float: right;
	}
	.category-list li a, .category-list li a:active, .category-list li a:visited, .category-list li a:focus {
		font-size: 12px;
	}
	.category-list li {
		margin-right: 15px;
	}
	.single-story-image:after {
		display: none;
	}

	.has-img .page-top-text-overlay p {
		font-size: 18px;
	}
	/* JS overwrites this as of 7/17/17, provides a starting place */
	.page-top-wrapper {
		margin: 140px 0 0 0;
	}

	.tab-nav-row {
	  position: relative;
	  margin: 0;
	  width: 100%;		
	}

	.tab-nav-row:before {
		background: rgba(100,152,174,.8);
		content: "";
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.advocate-img,
	.advocate-content {
		float: none;
		padding: 0 0 20px 0;
		width: 100%;
	}

	.story-item-overlay {
		opacity: 1;
		padding: 10px;
	}
	.story-item-overlay-content {
		font-size: 15px;
	}

	.single-title {
		font-size: 30px;
	}
	.single-meta-inner {
		font-size: 20px;
		text-align: left;
	}

	.green-heroes-row {
		padding: 40px;
	}

	.orange-heroes-row {
		padding: 40px;
	}

	.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
		margin-top: 15px;
		padding: 20px;
		width: 80%;
	}

	.tab-nav ul li {
		display: inline;
		font-size: 16px;
		margin-right: 20px;		
	}

	.mobile-full,
	.share-step .col-sm-8 {
		float: none;
		width: 100%;
	}

	.race-location {
		display: block;
		text-align: center;
		width: 100%;
	}

	.quick-tips-row .col-sm-6 {
		margin: 0;
		width: 100%;
	}

	.share-step .col-sm-8 {
		margin-left: 0;
	}

	.field-wrap label {
		font-size: 18px;
	}
	.last-checkboxes {
		font-size: 14px;
	}
	.last-checkboxes .faux-checkbox {
		float: left;
	}
	.last-checkboxes br {
		clear: both;
		display: block;
	}
	.last-checkboxes span {
		display: block;
		
	}
	.share-cat-wrap {
		margin-left: 0;
	}
	.single-story-image:after {
		display: none;
	}	

	#map-overlay {
		padding: 5% 5% 10%;
	}

	.search-submit {
		width: 20%;
	}
	.search-input {
		width: 70%;
	}
	.search-submit {
		float: right;
	}
	#map-overlay svg {
		width: 80%;
		margin-top: 0;
		height: 100%;
	}
}

/**
 * Mobile
 */
@media only screen and (min-width: 0px) and (max-width: 767px) {

	#emma-form-submit {
		font-size: 12px!important;
		padding: 17px 10px!important;
		border-radius: 0!important;		
	}

	.stuck #header {
		padding: 15px 0;
	}

	#ri-grid:before {
		display: none;
		background-color: transparent;
	}

	.story-page-share {
		padding: 0 30px;
	}

	.story-page-share .hir-btn {
		font-size: 15px!important;
	}

	img.aligncenter,
	img.alignright,
	img.alignleft {
		display: block;
		float: none;	
		margin: 0 auto 20px;	
	}

	.hir-btn,
	.hir-btn:focus {
		font-size: 16px;
		margin: 0 0 10px 18px;
		width: 95%;
		max-width: 380px;
	}
	.hir-btn:after {
		left: -20px;
		bottom: -5px;
		height: 52px;
		width: 25px;
	}
	.hir-btn:before {
		left: -20px;
		border-width: 0 20px 20px 0;
		top: -5px;
	}

	.section-h2 {
		text-align: center;
	}

	.no-mobile,
	#header-nav,
	#featured-hero-img,
	.has-img .page-top-text-overlay p {
		display: none;
	}

	.category-list {
		margin-bottom: 20px;
	}
	.category-list li {
		display: block;
		margin-right: 40px;
		text-align: center;
		margin: 0;
	}	

	.has-img .page-top-events .page-top-text-overlay p {
		display: block;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.has-img .page-top-events .page-top-text-overlay p + p {
		/*display: none;*/
	}

	#header {
		padding: 15px 0;
	}

	#menu-button {
		top: 40px;
	}
	.stuck #menu-button {
		top: 35px;
	}

	#logo {
		max-width: 200px;
		width: 50%;
	}

	.has-img .page-top-text-overlay h1 {
		font-size: 20px;
		margin: 10px 0 20px;
	}

	.floating-stories {
		background: #c65b33;
		color: #fff;
		left: 0;
		padding: 0px;
		position: relative;
		right: auto;	  
		top: 0;		
		width: 100%;
		z-index: 5;		
	}
		.floating-stories-number,
		.floating-stories-link {
			display: block;
		}
		.floating-stories-number {
			padding-bottom: 10px;
		}
		.floating-stories.bottom-screen {
			bottom: 0;
			position: fixed;			
			top: auto;
		}
			.floating-stories.bottom-screen .floating-stories-number,
			.floating-stories.bottom-screen .floating-stories-link {
				display: inline;
			}
			.floating-stories.bottom-screen .floating-stories-number:after,
			.floating-stories.bottom-screen .floating-stories-link:after {
				content: ".";
				margin-left: -2px;
			}
			.floating-stories-link a {
				text-decoration: underline;
			}

	#logo img {
		display: block;
		height: 50px;
		margin: 0 auto;
	}

	#image-grid-row {
		padding-bottom: 20px;
		padding-top: 40px;
	}
		#image-grid-copy-line-1 {
			font-size: 20px;
		}
		#image-grid-copy-line-2 {
			font-size: 30px;
		}

	.section-h2 {
		font-size: 20px;
	}

	#featured-hero-copy:before {
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		height: 60px;
		width: 60px;
	}
	#featured-hero-copy h3 {
		font-size: 16px;
	}
	#featured-hero-copy .mobile-featured-hero {
		max-width: 500px;
	}
	#featured-hero-copy p,
	#who-we-are p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	#who-we-are {

	}
		#who-we-are h2 {
			margin-top: 20px;
		}

	#footer-row {
		padding: 0;
	}
	#footer-social-row {
		padding: 0;
	}
	#footer-social-left {
		padding: 10px 15px;
	}
	#footer-social-right {
		padding-top: 0;
	}
		#footer-social-nav ul li {
			font-size: 40px;
			margin-right: 20px;
		}

	#footer-middle {
		min-height: 0;
	}

	#footer-left,
	#footer-right {
		text-align: center;
		padding-bottom: 20px;
		padding-top: 10px;
	}

	#footer-right {
		padding-right: 15px;
		padding-top: 0;
	}

	#footer-left {

	}
		#footer-list {
			padding: 0 30px;
		}
			#footer-right-mailing-list input[type="text"] {
				width: 50%;
			}
	#footer-middle-nav {
		padding: 0 15px 20px;
	}
	#footer-meta {
		text-align: center;
	}
	#footer-meta a {
		display: block;
	}
	.tab-nav-row {
		left: 0;
		margin: 0;
		padding: 20px 0;		
		position: relative;
	}
		.tab-nav ul li {
			display: block;
			margin: 0;
			padding: 10px;
			text-align: center;
		}
			.tab-nav ul li a {
				display: block;
			}
			.advocate-content {
				padding-left: 15px;
			}
	.subpage #main-content {
		padding: 0;
	}

	.page-row {
		padding: 40px 15px;
	}

	.advocate-img {
		margin-bottom: 20px;
	}

	.expand-btn-wrap {
		text-align: center;
	}

	.hide-reveal-row {
		padding: 0 15px;
	}
	.hide-reveal-question {
		float: left;
		width: 80%;
	}
	.hide-reveal-answer {
		clear: both;
		width: 100%;
	}
	.hide-reveal-read-more {
		float: left;
		width: 20%;
	}
		.hide-reveal-read-more-button {
			z-index: 4;
		}

	.green-heroes-row {
		padding: 20px;
	}

	.orange-heroes-row {
		padding: 20px;
	}

	.race-landing-row,
	.race-page-link {
		text-align: center;
	}

	.race-page-link {
		border-bottom: 5px solid #999;
	}
	.race-wrap:nth-child(odd),
	.race-landing-row {
		border: 0;
	}
	.race-landing-row:first-child .race-page-date,
	.race-page-date {
		padding-top: 20px;
	}
	.race-page-location {
		padding-bottom: 10px!important;
		padding-top: 0px!important;
	}

	.race-page-link {
		padding-bottom: 20px!important;
		padding-top: 0px!important;
	}
	.race-page-date {
		padding-bottom: 10px!important;
		padding-top: 20px!important;
	}

	.search-row {
		padding: 20px 15px;
	}
		.search-form-wrap {
			float: none;
			display: inline-block;
			width: 100%;
		}
			.search-submit {
				float: right;
			}

	.page-top-text-overlay-inner-content-wrap {
		padding: 0 20px;
	}
		.no-img .page-top-text-overlay h1 {
			font-size: 18px;
		}
		.no-img .page-top-text-overlay p {
			font-size: 14px;
		}

	.story-item-overlay {
		opacity: 1;
	}

	.single-story-top,
	.single-story-image,
	.single-story-meta {
		display: block;
		width: 100%;
	}
	.single-story-top {
		margin: 0 0 40px 0;
	}
	.single-story-image {
		margin-bottom: 20px;
	}
		.single-story-image img {
			margin: 0 auto;
		}
	.single-story-image:after {
		display: none;
	}	
	.single-story-meta {
		text-align: center;
	}
		.single-story-hero {
			font-size: 24px;
		}
		.single-story-title {
			font-size: 18px;
		}
	.single-story-categories {
		display: none;
	}
	.has-img .page-top-text-overlay-inner,
	.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
		width: 100%;
	}
	.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
		padding: 15px 40px;
	}
	.race-img-wrap {
		display: none;
	}
	.has-img .page-top-text-overlay.race-overlay {
		padding-bottom: 0;
	}
	.race-location {
		display: block;
		padding-bottom: 20px;
		text-align: center;
		width: 100%;
	}
	#race-logo {
		display: block;
		max-width: 200px;
		margin: 10px auto;
	}
	.race-description {
		margin-top: 40px;
	}
	.race-description p {
		font-size: 16px;
	}
	.blog-post-loop-img {
		margin-bottom: 15px;
	}
	.pagination {
		width: 100%;
	}
		.pagination div {
			/*text-align: center!important;*/
			margin-bottom: 20px;
		}

	.single-title {
		font-size: 20px;
		padding-top: 0;
		text-align: center;
	}
	.single-meta,
	.single-meta-inner {
		display: block;
	}
	.single-meta {
		text-align: center;
	}
		.single-meta-inner {
			font-size: 16px;
		}
			.single-meta-inner img {
				display: block;
				margin: 0 auto 10px;
			}
	.single-content p {
		font-size: 18px;
	}			

	.page-top-events {
		
	}
		#events-flip {
			display: none;
		}
		.events-top-day {
			font-size: 14px;
		}
		.events-top-month {
			font-size: 14px;
			margin-top: 10px;
		}
	.events-view-all-wrap {
		padding: 20px;
	}
	.submit-row {
		padding: 40px 15px;
	}
		#submit-content p,
		#hero-event p,
		.step-instructions p {
			font-size: 16px;
		}
	.hero-event-row {
		padding: 20px;
	}
	.page-content-row {
		padding: 0 15px;
	}
	.share-row,
	.quick-tips-row {
		padding: 40px 15px;
	}
		.share-row small {
			display: block;
			padding-bottom: 20px;
		}

	.news-post-row {
		padding: 0 15px;
	}

	.select-upload {
		text-align: center;
	}

	#avatar-list {
		text-align: center;
	}
		#avatar-list li {
			display: inline-block;
			float: none;
			margin-bottom: 5px;
		}

	.field-wrap label {
		font-size: 18px;
	}
	.last-checkboxes {
		font-size: 14px;
	}
	.last-checkboxes .faux-checkbox {
		float: left;
	}
	.last-checkboxes br {
		clear: both;
		display: block;
	}
	.last-checkboxes span {
		display: block;
		
	}
	.single-pagination .col-sm-6,
	.pagination .col-sm-6 {
		float: left;
		width: 50%;
	}
	.pagination {
		font-size: 16px;
		padding-left: 0!important;
		margin: 20px 0 0;		
	}
		.pagination .col-sm-6 {
			margin: 0;
			padding: 0;
		}

	#home-events-table tr td:first-child {
		padding-left: 10px;
	}		
	#home-events-table tr td:last-child {
		padding-right: 10px;
	}
	#home-events-table tr td {
		padding: 10px;
	}

	#map-overlay {
		padding: 2% 0 10% 0;
	}	
	.blog-post-loop-content,
	.blog-post-loop-img {
		text-align: center;
	}
	.blog-post-loop-meta {
		font-size: 14px;
	}
	#footer-middle strong {
		display: none;
	}

	.wp-caption[style] {
		width: 100%!important;
	}

	img.alignright,
	img.alignleft,
	img.aligncenter {
		float: none!important;
		display: block!important;
		margin: 0 auto!important;
	}
	img {
		height: auto;
		max-width: 100%;
	}

	.pagination {
		margin-top: 0;
	}
	.race-description h2 {
		text-align: center;
	}
	.ngg-gallery-thumbnail img {
		width: 136px!important;
	}
	#green-heroes-video {
		margin-top: 20px;
	}
	.dvk-social-sharing>a {
		display: block!important;
	}
	.search-input {
		float: left;
	}	
	.advocate-img {
		padding-left: 15px;
	}
	.tab-h2 {
		text-align: center;
	}

	.search-submit {
		width: 20%;
	}
	.search-input {
		width: 70%;
	}	
	.contact-map iframe {
		width: 100%;
	}
	.has-img .page-top-events {
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  -o-background-size: cover;
	  -webkit-background-size: cover;
	  background-size: cover;
	  background-position: center center;
	  padding: 50px 10px;		
	}
	.events-top .page-top-text-overlay-inner-content-wrap {
		padding: 0 20px;
	}	
	#sixk-big {
		max-width: 300px;
		margin-bottom: 10px;
		margin-top: 70px;
	}


	.hir-btn.hir-btn-blue,
	.hir-btn.hir-btn-blue:after {
		background-color: #a5c0c6;
		border-color: #a5c0c6;
	}
		.hir-btn.hir-btn-blue:hover,
		.hir-btn.hir-btn-blue:hover:after {
			background-color: #95acb1;
			border-color: #95acb1;
			color: #fff;
		}
	.hir-btn.hir-btn-blue:after {
		left: -30px;
		position: absolute;
		bottom: -5px;
		height: 43px;
		width: 30px;
	}
	.hir-btn.hir-btn-blue:before {
		border-color: #fff transparent;
		//border-width: 0 29px 30px 0;
		left: -20px; //use to be 30
	}	
	.news-post-row .blog-post-loop-meta {
		margin-bottom: 0;
		padding: 0 15px;
	}
	.has-tabs .page-top-text-overlay-inner-content-wrap {
		padding-top: 20px;
	}
	.has-tabs .has-img .page-top-text-overlay p {
		font-size: 16px;
	}
	.category-list li a:hover, .category-list li a.current-cat	{
		border-bottom: 0;
		font-weight: 700;
	}
	.news-pagination {
		text-align: center;		
		padding-bottom: 20px;
		padding-top: 0;
	}
	.quick-tips-row {
		display: none;
	}
} 

@media only screen and (min-width: 0px) and (max-width: 479px) {
	#green-heroes .hir-btn.slim:after {
		height: 61px;
	}

	#blue-heroes .hir-btn.slim:after {
		height: 36px;
	}

	.story-archive-item {
		width: 50%;
		float: left;
	}
	.story-item-overlay-content {
		font-size: 14px!important;
	}
	.story-item-overlay-content-title {
		margin-bottom: 10px;
	}
	#map-overlay svg {
		height: 150px;
		margin-top: 0;
	}	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#map-overlay svg {
		width: 80%;
		margin-top: 0;
	}	
		.events-top-day {
			font-size: 30px;
		}
		.events-top-month {
			font-size: 20px;
			margin-top: 10px;
		}	
	.has-img .page-top-text-overlay p {
		display: block;
		font-size: 14px;
	}
	#image-grid-buttons .hir-btn, 
	#image-grid-buttons .hir-btn:active, 
	#image-grid-buttons .hir-btn:visited, 
	#image-grid-buttons .hir-btn:focus {
		float: left;
		margin-right: 17px;
		width: 45%;
	}
	#image-grid-buttons .hir-btn:last-child {
		margin-right: 0;
	}
	.story-archive-item.col-sm-3 {
		float: left;
		width: 50%;
	}
	.page-top-text-overlay-inner {
		padding: 0 40px;
	}
	.has-img .race-overlay .page-top-text-overlay-inner-content-wrap {
		padding: 20px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	#featured-hero-copy {
		padding: 15px;
	}
		#featured-hero-copy h2 {
			font-size: 26px;
		}
		#featured-hero-copy h3 {
			font-size: 20px;
		}
		#featured-hero-copy p {
			font-size: 16px;
		}
		#featured-hero-copy .mobile-featured-hero {
			max-width: 500px;
		}
}

@media only screen and (min-width: 480px) and (max-width: 570px) {
	#image-grid-copy-line-2 {
		font-size: 28px;
	}
	#image-grid-buttons {
		margin-top: 20px;
	}
	#image-grid-buttons .hir-btn, #image-grid-buttons .hir-btn:active, #image-grid-buttons .hir-btn:visited, #image-grid-buttons .hir-btn:focus {
		font-size: 14px;
		width: 44%;
	}
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
	#home-events-table tr {
		padding: 20px 0;
		overflow: hidden;
	}
		#home-events-table tr td,
		.race-page-location,
		.race-page-link {			
			display: block;
			float: right;
			font-size: 14px;
			padding: 5px!important;
			text-align: center;
			width: 50%;
		}
		.race-page-link {
			border-bottom: 0;
		}
		.race-page-link a {
			font-size: 14px;
		}
		.race-page-location {
			padding-top: 20px!important;
		}
		#home-events-table tr td:first-child,
		.race-page-date {
			border-right: 3px solid #9f9f9f;
			float: left;
			padding: 15px 10px!important;
		}
		.race-page-date {
			width: 50%;
		}
		.race-wrap {
			margin-bottom: 20px;
		}
		.page-2216 #header-row {
			//position: relative!important;
		}
		.page-2216 #menu-button {
			//position: absolute!important;
		}
}	

/**
 * Tablets
 */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
	#home-events-table tr td {
		font-size: 16px;
	}
	.home-events-date-month {
		font-size: 18px;
	}
	.home-events-date-day {
		font-size: 30px;
	}
	.advocate-img,
	.advocate-content {
		float: left;
	}
	.advocate-img {
		padding: 0 15px;
		width: 25%;
	}
	.advocate-content {
		padding: 0 15px;
		width: 75%;
	}
	.advocate-content p {
		font-size: 16px;
	}
	.advocates-row h2.tab-h2 {
		padding-left: 15px;
		text-align: left;
	}
}

.last-checkboxes .faux-checkbox {
	float: left;
}
.last-checkboxes span {
	display: block;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
	#header-row {
		box-shadow: 0 0 10px rgba(0,0,0,.75);
		position: fixed;
		width: 100%;
		top: 0px;
	}
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	#header-row {
		top: 35px;
	}
}

.dog-graphic {
	float: right;
	width: 300px;
	padding: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 800px) { 
.dog-graphic {
	float:left;
	width: 100%;
	padding: 20px 0 20px 0;
}
}


/* Author Page */
.author_image_wrap {
    float: right;
    width: 200px;
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 20px;
}
.author_image {
    width: 100%;
    height: auto;
}
.author_type {
	margin-bottom:30px;
}
.author_bio {
    margin-bottom: 20px;
}
.author_social .fa {
    font-size: 25px;
    margin: 10px 10px 10px 0;
}
.partners-row {
    text-align:center;
}
.partners_logo {
    width: 150px;
    height: 150px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}
.partners_logo a {
    display: table;
}
.size_protector {
    width: 150px;
    height: 150px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
	.author_meta {
	  -ms-box-orient: horizontal;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	}
	.author_title {
		order:1;
		width:100%;
	}
	.author_image_wrap {
	    float: none;
	    width: 100%;
	    margin: 10px 0 20px;
	    order:3;
	}
	.author_type {
		width:100%;
		margin-bottom:0;
		order:2;
	}
}



/* 
  Responsive iframes CSS -- Benefits SoberGuy Podcast players mostly
  Requires two transparent images (one for audio, and one for video) to get the height/width ratio.
  Search content in admin by CSS name below to find posts with iframe embedded.
*/
.frn_iframe_wrap {
    width: 100%;
    background-color:#ccc;
    height: auto;
    margin-left: 0;
}
.frn_iframe_block {position:relative; height: 90px; margin: 15px 0 20px 0; border: 1px solid #ccc; box-shadow: #ccc 0px 1px 10px;}
.frn_iframe_block .ratio {display:block;width:100%;height:auto; position: relative; }
.frn_iframe_block iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: 1000;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* tablet */
  .frn_iframe_wrap {
      width: 100%;
      height: auto;
      background: #CCC;
  }
}
@media only screen and (max-device-width:767px){
  /* smartphone */
  .frn_iframe_wrap {width:100%;height:auto;margin:0 auto;background:#CCC;
  }
}

 /* Adds padding to sponsors on 6k Race pages, added by Ben W on 10/13/16 */
.col-sm-12.sponsor-wrap .sponsors {
    padding-bottom: 1.5em;
}

#blue-heroes img {
    max-width: 100%;
}

#header button.nav-cta {
    background: #329FD0;
    color: white;
    padding: 1.75rem;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    height: 60px;
}

.stuck div#btn-header-right {
    margin-top: -10px;
}

@media only screen and (max-width: 1261px) and (min-width: 1201px)  {
	    #header button.nav-cta {
	    padding: 1.75rem 1rem;
	}
}

@media only screen and (max-width: 1051px) and (min-width: 1024px)  {
	    #header button.nav-cta {
	    padding: 1.75rem 1rem;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	#header button.nav-cta {
		font-size: 13px;
		padding: 1rem;
	}
	#header-left #logo img {
    max-width: 175px;
	}
}

div#mobilephone {
    display: none;
}

@media only screen and (max-width: 767px){
	#header button.nav-cta {
		display: none;
	}
	div#mobilephone {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: #6898AD;
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 10;
	}
	.stuck div#header-row {
    top: 35px !important;
	}

	#mobilephone a {
    color: #FFF !important;
	}

}

div#btn-header-right {
    text-align: center;
    padding-left: 0;
}

nav#header-nav.col-sm-6 {
    padding-right: 0;
}

.new-6k-background .nolongerusing {
	background: url(/wp-content/uploads/race_main_page_shutterstock_1389872001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 20px 50px 35px;
}

.new-6k-background h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.new-6k-wrap1{
    min-height: 320px;
    height: 100%;
    padding: 20px 25px;
    max-width: 550px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.new-6k-wrap2 {
    min-height: 320px;
    min-height: 390px;
    height: 100%;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.new-6k-wrap1 button {
	padding: 16px 0px;
    width: 100%;
    background: #FFF;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Enriqueta', serif;
    font-size: 16px;
    color: #27769A;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 15px;
    border: none;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#race-event-buttons a:hover button{
	background: #e6e6e6;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

@media only screen and (max-width: 1200px){
.col-sm-6.col-md-12.col-lg-4.vid-embed-virtual {
    margin-top: 40px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
.vid-embed-virtual iframe {
    max-height: none !important;
    max-width: 560px;
    display: block;
    margin: 0 auto;
}
}

@media only screen and (max-width: 991px){
.col-sm-6.col-md-6.col-lg-4#virtual-6k{
	margin-top: 40px;
}
}

.new-6k-wrap1 button.h-green {
    background: #a0ae27;
}

.new-6k-wrap1 button.h-green:hover {
    background: #7b851e;
}

.new-6k-wrap1 button.h-teal {
    background: #40a2ad;
}

.new-6k-wrap1 button.h-teal:hover {
    background: #307a82;
}

.new-6k-wrap1 button.h-purple {
    background: #617A9C;
}

.new-6k-wrap1 button.h-purple:hover {
    background: #4f627d;
}

.new-6k-wrap1 button.h-blue2 {
    background: #329ed0;
}

.new-6k-wrap1 button.h-blue2:hover {
    background: #2781aa;
}

.new-6k-wrap2 button{
	padding: 16px;
    width: 100%;
    background: #D15E56;
    color: #FFF;
    border-radius: 5px;
    font-family: 'Enriqueta', serif;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 40px;
    border: none;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    max-width: 300px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

@media only screen and (min-width: 992px) and (max-width: 1056px){
	.new-6k-wrap2 button{
	    margin-top: 33px;
	}
}

button.whitevidbtn {
    background: #FFF;
    color: #27769A;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
}

button#myVidBtn:before {
    content: "\f01d";
    font-family: FontAwesome;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 19px;
}

.new-6k-wrap2 button:hover, .virtual-video-text button:hover{
	background: #bb472a;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

button.whitevidbtn:hover {
    background: #e6e6e6;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.green-heroes-row.row.new-6k-bg {
    background: #FFF;
}

.new-6k-bg h4 {
    color: #27769A !important;
}

.new-6k-bg p {
    color: #666666;
    padding: 0px 18px;
}

.orange-heroes-row.row.nu-6k-red {
	background: #8CD860;
}

button.sponsor-orange-cta {
    padding: 16px;
    width: 100%;
    background: #27769A;
    color: #FFF;
    border-radius: 5px;
    font-family: 'Enriqueta', serif;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    max-width: 250px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

button.sponsor-orange-cta:hover{
	background: #216483;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.new-6k-wrap2 p {
    margin-bottom: 0px;
}

div#meet-6k-team-wrap {
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px){
div#meet-6k-team-wrap {
    max-height: 85px;
    max-width: 275px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

#meet-6k-team-wrap img {
    position: relative;
    top: -70px;
    left: -90px;
}
}

div#standard-6k {
    background: linear-gradient(135deg, #E6746C 0%, #C1524A 98%);
    padding-top: 244px;
    padding-bottom: 100px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

div#standard-6k:hover {
    box-shadow: 2px 0px 12px 0 rgba(0,0,0,0.20);
    z-index: 1;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

div#virtual-6k {
    background: linear-gradient(135deg, #329FD0 0%, #40A2AE 100%);
    padding-top: 244px;
    padding-bottom: 100px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

div#virtual-6k:hover {
    box-shadow: -2px 0px 12px 0 rgba(0,0,0,0.20);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.row.virtual-video{
	padding: 78px 90px;
	margin: 0 auto;
}

.row.virtual-video.first-vid {
    padding-top: 33px;
}

.col-xs-12.vid-embed-virtual {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    top: 6px;
}

.col-xs-12.virtual-video-text {
	background: #FFFFFF;
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    border-radius: 0px 0px 5px 5px;
    padding: 45px;
    min-height: 260px;
    max-width: 900px;
    text-align: left;
}

@media only screen and (min-width: 1188px) and (max-width: 1291px){
	.col-xs-12.virtual-video-text {
	    max-height: 300px;
	}
}

@media only screen and (min-width: 1292px) and (max-width: 1312px){
	.col-xs-12.virtual-video-text {
	    max-height: 280px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1100px){
	.col-xs-12.virtual-video-text {
	    max-height: 360px;
    	min-height: 360px;
	}
}

@media only screen and (min-width: 1312px) and (max-width: 1620px){
	div#virtual-6k, div#standard-6k {
	    max-height: 1350px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1312px){
	div#virtual-6k, div#standard-6k {
	    max-height: 1340px;
	}
}

@media only screen and (min-width: 1620px) {
	div#virtual-6k, div#standard-6k {
	    max-height: 1450px;
	}
}

.virtual-video-text h2 {
    color: #27769A;
    font-weight: 500;
    text-align: left;
    margin-top: 0;
}

.virtual-video-text p {
    color: #666666;
    line-height: 22px;
}

.virtual-video-text button {
    padding: 16px;
    width: 100%;
    background: #D15E56;
    border-radius: 5px;
    font-family: 'Enriqueta', serif;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
    max-width: 230px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#race-event-buttons .col-xs-3 {
	padding-right: 0;
}

#race-event-buttons .col-xs-9 {
	padding-left: 0;
}

#race-event-buttons span {
    display: block;
    text-align: center;
    background: #27769A;
    color: white;
    margin-top: 15px;
    border-radius: 5px 0px 0px 0px;
    height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2px 0px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.20);
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


#race-event-buttons a {
    display: block;
    position: relative;
}

#race-event-buttons a:hover span {
	box-shadow: none;
	background: #20607e;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#race-event-buttons span:nth-of-type(2) {
    background: #329FD0;
    margin-top: 0px;
    border-radius: 0px 0px 0px 5px;
    font-size: 20px;
    height: 35px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


#race-event-buttons a:hover span:nth-of-type(2) {
	background: #2a8ab7;
	box-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.new-6k-wrap1 button:after {
    content: '\f105';
    position: relative;
    top: -1px;
    padding-left: 10px;
    font-family: fontawesome;
}

.mw-wrap{
	max-width: 1400px;
	margin: 0 auto;
}

.virtual-video .mw-wrap {
    max-width: 600px;
}

@media only screen and (max-width: 991px){
	div#virtual-6k {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	div#standard-6k {
		padding-bottom: 50px;
	}
	.vid-embed-virtual iframe {
    	max-height: none !important;
        vertical-align: bottom;
	}
	.col-sm-12.col-md-6.virtual-video-text {
    border-radius: 0px 0px 5px 5px;
    max-height: none;
    padding: 30px;
	}
	.new-6k-bg div#heroes-get-social {
    padding: 40px 0;
	}
	.new-6k-bg #heroes-get-social .row {
    max-width: 500px;
    margin: 0 auto;
	}
}

@media only screen and (max-width: 767px){
		div#standard-6k {
		padding-top: 150px;
	}
	.row.virtual-video{
		padding: 50px;
		padding-top: 25px;
	}

	.virtual-video-text button, button.sponsor-orange-cta{
		max-width: none;
	}

	.new-6k-wrap2{
		min-height: 0;
		padding-top: 0;
	}

	div#race-event-buttons {
    	padding: 0 40px;
	}

	div#standard-6k {
    	padding-bottom: 0px;
	}

	.green-heroes-row.row.new-6k-bg {
    	padding: 20px 40px;
        padding-bottom: 40px;
	}

}

.page-2216 h1, .page-2216 h2, .page-2216 h3, .page-2216 h4, .page-2216 h5, .page-2216 h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.page-2216 .floating-stories {
    display: none !important;
    opacity: 0 !important;
}

.six-k-svg-logo {
    position: relative;
    left: -3px;
}

#header-nav ul li.nu-heroes-menu a {
    padding: 1.25rem 1.75rem;
    border: 3px solid #D15E56;
    color: #D15E56;
    border-radius: 5px;
}

#header-nav .menu-item-16402 a {
    color: initial !important;
    border: initial !important;
    padding: initial !important;
    border-radius: initial !important;
}

#header-nav ul li .nu-heroes-menu ul.sub-menu:before {
	background: none;
}

#footer-list .footer__logo--frn img {
	width: 70%;
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #footer-list .footer__logo--frn img {
    	margin: 10px auto;
    }
}

/* Heroes 6K Landing Page */
.special-icon{
	position: absolute;
	top: 0;
	right: -30px;
	width: 60px;
	height: 60px;
	z-index: 1;
}
