#form1 { width:900px; }
#form2 { width:700px; }

#form2 .wufoo textarea.textarea { width:700px; }


.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    border:1px solid #c0c0c0;
	padding:8px 5px;
	background:none;
}
.wufoo textarea.textarea { background:url(images/textarea-bg.png) repeat-x 0 0; resize:none; min-width:680px; }

.wufoo .select { background:url(images/textarea-bg.png) repeat-x 0 0; border:1px solid #C0C0C0; padding:8px 5px; }

.wufoo input.text, .wufoo input.file { background:url(images/form-bg.png) repeat-x 0 0; }

.wufoo li.focused { background:none; }

.wufoo .info h2 { font-family:'Conv_RockwellStd', serif; color:#B3512E; font-size:24px; text-decoration:none; }

.wufoo .section h3{ font-family:Georgia,"Times New Roman",Times,serif; }

#form3 header#header { display:none!important; }

.wufoo .instruct { visibility:visible!important; left:462px!important; }
form .instruct { visibility:visible!important; opacity:100!important; left:462px!important; }

form.wufoo input.file, form.wufoo input.text, form.wufoo textarea.textarea {
    background-image: none;
    border: 1px solid #6a6a6e;
    line-height: 200%;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

input#saveForm {
    font-family: Lato,Arial,sans-serif;
    font-size: 18px;
    color: #38383d;
    font-weight: 400;
    line-height: 1.75;
    font-style: normal;
    letter-spacing: 0;
    background-color: #D36149;
    border: none;
    border-radius: 5px;
    padding: 8px 80px;
    color: #fff;
    cursor: pointer;
    margin: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

form li.complex div span.full input, form li.complex div span.full select, form li.complex div span.left input, form li.complex div span.right input, form li.complex div span.left select, form li.complex div span.right select {
    width: 99%;
}

h1, h2, h3, h4, h5, h6 {
    color: #666 !important;
    font-family: 'Enriqueta', serif;
}

form.wufoo label.desc, form.wufoo legend.desc {
    color: #808080;
    font-family: Lato,Arial,sans-serif;
    font-size: 130%;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: Lato,Arial,sans-serif;
    color: #808080;
}

.wufoo span.symbol {
    line-height: 300%;
}

form.wufoo select.select {
    border-radius: 5px;
    height: 49px;
    border-color: #c3c3c3;
}