*{
	font-size: 100.01%;
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}

form { width:478px; position:relative; padding-right:200px; }
form h1 { margin-top:20px; color:#D85931; font-weight:normal; font-family:Conv_RockwellStd-Bold, Arial, Helvetica, sans-serif; font-size:25px; text-transform:uppercase; }
form h2 { color:#bb962e; font-style:italic; font-family:Georgia, 'Times New Roman', serif; font-weight:normal; font-size:20px; }
form p { font-family:Georgia, 'Times New Roman', serif; color:#999999; font-size:12px; line-height:140%; }
form a.help img { position:absolute; right:0; top:40px; }
a { color:#D85931; }
a:hover { text-decoration:none; cursor:pointer; }
input { font-family:Georgia, 'Times New Roman', serif; }

.field { margin-bottom:13px; }
.field input[type="text"] { border:1px solid #a17d55; padding:8px; color:#a17d55; font-size:14px; width:478px; margin-bottom:7px; }
.field span { display:block; color:#888888; font-style:italic; font-family:Georgia, 'Times New Roman', serif; font-size:12px; line-height:130%; }
.checkbox { width:350px; margin-top:40px; color:#888888; font-style:italic; font-family:Georgia, 'Times New Roman', serif; font-size:12px; line-height:130%; }
.nav { clear:both; padding-top:40px; }
.uploadavatar { padding-left:50px; float:left; width:150px; }
.uploadavatar p, .selectavatar p { width:137px; padding:10px 5px; font-style:italic; color:#666666; }
.or { width:32px; padding:22px 4px 0 4px; font-family:Conv_RockwellStd-Bold, Arial, Helvetica, sans-serif; font-size:16px; float:left; color:#D85931; }
.uploadavatar p  span { color:#d85931; }
.selectavatar { float:left; width:150px; }

#page1 { margin:30px 0 0 112px; padding-left:110px; background:url(images/shareform-s1.png) no-repeat 0 0; }

#page2 { margin:30px 0 0 12px; padding-left:210px; background:url(images/shareform-s2.jpg) no-repeat 0 0; height:513px; }
#page2 h1 { margin-bottom:0; }
#page2 .filename, #page2 .fileinfo { font-size:11px; }

#fancybox-content .avatarGallery li {float:left;list-style:none;}
#fancybox-content .avatarGallery .avatar img {border: 3px solid white; margin:5px;}
#fancybox-content .avatarGallery a:hover img, #fancybox-content #avatarGallery a.active img{border: 3px solid #C79041;}

input[type='file'] { width: 100px; }

#page3 { margin:30px 0 0 112px; padding-left:110px; background:url(images/shareform-s3.png) no-repeat 0 0; }
#page3 textarea { width:100%; height:200px; padding:10px; border:1px solid #b69b72; resize:none; }

#page4 { margin:30px 0 0 112px; padding-left:110px; background:url(images/shareform-s4.png) no-repeat 0 0; }
#page4 .checkbox { font-size:20px; font-style:italic; float:left; width:220px; margin:10px 0 0 0; }

#page5 { margin:0; padding-left:221px; padding-top:30px; background:url(images/shareform-s5.jpg) no-repeat left bottom; height:545px; }
#page5 a.help img { top:70px; right:-1px; }
#page5 .instructions { color:#d85931; font-family:Conv_RockwellStd-Bold, Arial, Helvetica, sans-serif; font-size:12px; }
#page5 .nav { width:610px; position:absolute; }
#page5 .nav span { display:block; margin-left:10px; float:right; width:125px; color:#888888; font-style:italic; font-family:Georgia, 'Times New Roman', serif; font-size:12px; line-height:130%; }

#page6 { margin:0; padding-left:221px; padding-top:30px; background:url(images/shareform-s6.jpg) no-repeat left bottom; height:545px; }
#page6 textarea { width:100%; height:200px; padding:10px; border:1px solid #b69b72; resize:none; }
#page6 .nav { width:480px; position:absolute; }
#page6 .nav span { 
	display: block;
	margin-left: 20px;
	float: left;
	width: 225px;
	color: #888888;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 12px;
	line-height: 130%; 
}

#page7 { margin:30px 0 0 112px; padding-left:110px; background:url(images/shareform-s7.png) no-repeat 0 0; }
#page7 textarea { width:100%; height:200px; padding:10px; border:1px solid #b69b72; resize:none; }
#page7 .field h2 { color:#d85931; font-size:28px; float:left; width:150px; }
#page7 .field p { font-size:13px; font-style:italic; padding-top:10px; color:#b69b72; }
#story2, #story3, #story4, #story5, #story6 { display:none; }

#page8 { margin:30px 0 0 112px; padding-left:110px; background:url(images/shareform-s8.png) no-repeat 0 0; }
#page8 h3 { color:#D85931; font-size:22px; font-style:italic; font-weight:normal; margin-bottom:5px; }
#page8 .radio { float:left; padding-bottom:5px; width:200px; margin-right:25px; font-size:16px; color:#888888; font-style:italic; font-family:Georgia, 'Times New Roman', serif; }
#page8 .field { clear:both; }


/*** Fonts ***/
@font-face {
    font-family: 'Conv_RockwellStd';
    src: url('fonts/rockwellstd-webfont.eot');
    src: url('fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-webfont.woff') format('woff'),
         url('fonts/rockwellstd-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-webfont.svg#Conv_RockwellStd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_RockwellStd-Bold';
    src: url('fonts/rockwellstd-bold-webfont.eot');
    src: url('fonts/rockwellstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-bold-webfont.woff') format('woff'),
         url('fonts/rockwellstd-bold-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-bold-webfont.svg#Conv_RockwellStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_RockwellStd-Light';
    src: url('fonts/rockwellstd-light-webfont.eot');
    src: url('fonts/rockwellstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rockwellstd-light-webfont.woff') format('woff'),
         url('fonts/rockwellstd-light-webfont.ttf') format('truetype'),
         url('fonts/rockwellstd-light-webfont.svg#Conv_RockwellStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}