/*
Theme Name: FoundationRecoveryNetwork
*/

.categories ul {
	color: #969292;
	font-size: 1.1em;
	letter-spacing: -1px;
	line-height: 1.24em;
	margin: 0 8px 0 0;
	padding: 0;
}
.categories ul li {
	list-style: none outside none;
	padding: 0 0 5px;
}
.categories ul li a {color: #CD9B54;}
.navigation{
	width:200px;
	margin:0 auto;
}
.social-box .social-plagin li{cursor: pointer;}
.social-box .social-plagin iframe {
	margin:3px 0 0;
}
.social-box{padding:10px 0 0 0;}
.social-box .social-comments li{margin: 0 3px 0 0;}
#commentform textarea{
	width:480px;
	max-width:480px;
	height:200px;
}
#comments h2{
	font-size: 2.2em;
	margin:15px 0;
}
.commentlist{list-style: none;}
.commentlist .children{padding:0 0 0 10px;}
.title-holder{
	padding:0 0 0 160px;
}
.title-holder h2{
	color: #BC8A34;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 15px;
}
.post-ratings{
	float: left;
	width:auto !important;
	padding: 1px 0 0;
}
* html .post-ratings{padding: 5px 0 0;}
.contact-form span.wpcf7-not-valid-tip{
	left: 82px;
	top: 0;
}
.contact-form .row{position: relative;}
span.wpcf7-form-control-wrap{position:static !important;}
.twocolumns-2 .categories ul {
	line-height: 14px;
	padding: 0 0 9px;
}

/* --------------------- WYSIWYG Editor Styles ---------------------- */

.entry-content img {
	margin: 0 0 1.5em 0;
	}
.alignleft, img.alignleft {
	margin-top:5px;
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.text-block h2 { 
	color: #6CBDB0;
    font-family: 'Conv_RockwellStd-Light',Sans-Serif;
    font-size: 43px;
    font-weight: 100;
    line-height: 43px;
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: uppercase;
}

.block h2 {
	color: #B3512E;
	font-weight:normal;
	font-size:28px;
	font-style:italic;
	line-height:100%;
}

a.share, a.read { float:left; display:block; padding:8px 12px; color:#FFF; text-transform:uppercase; font-size:14px; }
a.share:hover, a.read:hover, a.hero:hover { text-decoration:none; }
a.share { background-color:#c99530; margin-right:15px; }
a.share:hover { background-color:#76b7b3; }
a.read { background-color:#b95523; }
a.read:hover { background-color:#76b7b3; }

img.story-thumb { float:left; width:99px; margin-right:20px; }
.story-excerpt { float:left; width:365px; margin-bottom:30px; font-size:11px; }
.story-excerpt h2 { color: #B3512E; font-size: 2.3em; font-weight: bold; line-height: 1.1em; margin: 0; text-transform:capitalize; letter-spacing: 0.01em; }

a.hero { background-color:#79b5b1; color:#fff; margin-left:15px; float:left; display:block; padding:8px 12px; text-transform:uppercase; font-size:14px; }
a.hero:hover { background-color:#c99530; }

#stories .story-letter { border:none; border-left:1px solid #b49d6d; margin-top:50px; padding:0 0 0 20px; }

.addtoany_share_save_container {
	margin: 25px 0;
	float: left;
}